{% include 'components/header.html' %}
{% include 'components/menu-top.html' %}

<!-- BARRA DE TÍTULO -->
	<div id="wrapper-header-inner">
		<div id="wrapper-header-shadowline">
			<div id="header-inner">
				<h1 class="pagetitle">Administración &#187; Usuarios &#187; Crear</h1>
			</div><!-- end header-inner -->
		</div><!-- end wrapper-header-shadowline -->
	</div> <!-- end wrapper-header -inner-->
<!-- FIN BARRA DE TÍTULO -->
	
<!-- CONTENIDO PRINCIPAL -->
	<div id="wrapper-content">
		<div id="content-container-inner">
			<div id="content">
				
				<h6><span style="color:#888888;">&#9658;&nbsp;</span>Nuevo usuario</h6></br>

				<div class="clear"></div><!-- clear float -->
				<div id="contactform">
                    <form action="/administrarUsuarios/guardar" method="POST" style="width: 80%;" data-toggle="validator" class="jumbotron py-4 px-3 pr-0 bg-light">
					<fieldset>

						<label for="identificacion"><span class="required">*</span>Identificación:<br />
							<input type="text" name="identificacion" required value="" class="text-input" style="width:150px;" />
						</label>
						
						<label for="nombre"><span class="required">*</span>Nombre:<br /> 
							<input type="text" name="nombre" required value="" class="text-input" style="width:480px;" />
						</label>

						<br class="clear"/>

						<label for="correo"><span class="required">*</span>Correo:<br /> 
							<input type="text" name="correo" required value="" class="text-input" style="width:315px;" />
						</label>

						<label for="clave"><span class="required">*</span>Clave:<br /> 
							<input type="password" name="clave" required value="" class="text-input" style="width:315px;" />
						</label>

						<br class="clear" />
						<br class="clear" />

						<div style="float: left; margin: -20px 10px 10px 0;">
							<a href="/administrarUsuarios/listar" class="button grey">Cancelar</a>
							<input type="submit" class="button green" value="Guardar" style="padding-bottom: 4px; height:32px;"/> 
						</div>
						<br class="clear" />

					</fieldset>
					</form>

					{% if error %}
					{% if error is mapping %}
					<div class="error-box"><strong>Error:</strong>
						<ul>
							{% for i in error.values() %}
							<li>{{i}}</li>
							{% endfor %}
						</ul>
					</div>
					{% else %}
					<div class="error-box">{{error}}</div>
					{% endif %}
					{% endif %}
					<br class="clear" />

				</div><!-- end #contactform -->
				<div class="clear"></div><!-- clear float -->
			</div><!-- end content -->
<!-- CONTENIDO PRINCIPAL -->

			{% include 'components/sidebar-admin.html' %}

			<div class="clear"></div><!-- end clear -->
		
		</div><!-- end content-container-inner -->

	</div> <!-- end wrapper-content -->
	
{% include 'components/footer.html' %}
