a, a:visited, a:hover {color:#0b3d0e;}
#wrapper-top{border-top:solid 7px #0b3d0e;}
#wrapper-header, #wrapper-header-inner{background-color:#0b3d0e; background-image:url(header_light.jpg); background-position:top center; background-repeat:no-repeat;}
#wrapper-footer{background-color:#0b430e; background-image:url(footer_light.jpg); background-position:top center; background-repeat:no-repeat;}

/* button */
.more, .button{
	border:solid 1px#0b3d0e;
	background:#0b3f0e;
	background: -webkit-gradient(linear, left top, left bottom, from(#0f6915), to(#0b3f0e));
	background: -moz-linear-gradient(top,  #0f6915,  #0b3f0e);
	background: -o-linear-gradient(top,  #0f6915,  #0b3f0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f6915', endColorstr='#0b3f0e');
  }
.more:hover, .button:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#0b3f0e), to(#0f6915));
	background: -moz-linear-gradient(top,  #0b3f0e, #0f6915);
	background: -o-linear-gradient(top,  #0b3f0e, #0f6915);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b3f0e', endColorstr='#0f6915');
}


/* tab */
html ul.tabs li.active, html ul.tabs li.active a:hover {
	border:solid 1px#0b3d0e;
	background:#0b3f0e;
	background: -webkit-gradient(linear, left top, left bottom, from(#0f6915), to(#0b3f0e));
	background: -moz-linear-gradient(top,  #0f6915,  #0b3f0e);
	background: -o-linear-gradient(top,  #0f6915,  #0b3f0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f6915', endColorstr='#0b3f0e');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}
ul.tabs li:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#0b3f0e), to(#0f6915));
	background: -moz-linear-gradient(top,  #0b3f0e, #0f6915);
	background: -o-linear-gradient(top,  #0b3f0e, #0f6915);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b3f0e', endColorstr='#0f6915');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}
ul.tabs li a:hover {
	border:solid 1px#0b3d0e;
	background: -webkit-gradient(linear, left top, left bottom, from(#0b3f0e), to(#0f6915));
	background: -moz-linear-gradient(top,  #0b3f0e, #0f6915);
	background: -o-linear-gradient(top,  #0b3f0e, #0f6915);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b3f0e', endColorstr='#0f6915');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}

/* toggles */
h2.trigger{
	border:solid 1px#0b3d0e;
	background:#0b3f0e;
	background: -webkit-gradient(linear, left top, left bottom, from(#0f6915), to(#0b3f0e));
	background: -moz-linear-gradient(top,  #0f6915,  #0b3f0e);
	background: -o-linear-gradient(top,  #0f6915,  #0b3f0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f6915', endColorstr='#0b3f0e');
}
