a, a:visited, a:hover {color:#460909;}
#wrapper-top{border-top:solid 7px #460909;}
#wrapper-header, #wrapper-header-inner{background-color:#460909; background-image:url(header_light.jpg); background-position:top center; background-repeat:no-repeat;}
#wrapper-footer{background-color:#4d0909; background-image:url(footer_light.jpg); background-position:top center; background-repeat:no-repeat;}

/* button */
.more, .button{
	border:solid 1px #460909;
	background:#580b0b;
	background: -webkit-gradient(linear, left top, left bottom, from(#910c0c), to(#580b0b));
	background: -moz-linear-gradient(top,  #910c0c,  #580b0b);
	background: -o-linear-gradient(top,  #910c0c,  #580b0b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#910c0c', endColorstr='#580b0b');
  }
.more:hover, .button:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#580b0b), to(#910c0c));
	background: -moz-linear-gradient(top,  #580b0b, #910c0c);
	background: -o-linear-gradient(top,  #580b0b, #910c0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#580b0b', endColorstr='#910c0c');
}

/* tab */
html ul.tabs li.active, html ul.tabs li.active a:hover {
	border:solid 1px #460909;
	background:#580b0b;
	background: -webkit-gradient(linear, left top, left bottom, from(#910c0c), to(#580b0b));
	background: -moz-linear-gradient(top,  #910c0c,  #580b0b);
	background: -o-linear-gradient(top,  #910c0c,  #580b0b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#910c0c', endColorstr='#580b0b');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}
ul.tabs li:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#580b0b), to(#910c0c));
	background: -moz-linear-gradient(top,  #580b0b, #910c0c);
	background: -o-linear-gradient(top,  #580b0b, #910c0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#580b0b', endColorstr='#910c0c');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}
ul.tabs li a:hover {
	border:solid 1px #460909;
	background: -webkit-gradient(linear, left top, left bottom, from(#580b0b), to(#910c0c));
	background: -moz-linear-gradient(top,  #580b0b, #910c0c);
	background: -o-linear-gradient(top,  #580b0b, #910c0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#580b0b', endColorstr='#910c0c');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}

/* toggles */
h2.trigger{
	border:solid 1px #460909;
	background:#580b0b;
	background: -webkit-gradient(linear, left top, left bottom, from(#910c0c), to(#580b0b));
	background: -moz-linear-gradient(top,  #910c0c,  #580b0b);
	background: -o-linear-gradient(top,  #910c0c,  #580b0b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#910c0c', endColorstr='#580b0b');
}
