a, a:visited, a:hover {color:#7f5509;}
#wrapper-top{border-top:solid 7px #7f5509;}
#wrapper-header, #wrapper-header-inner{background-color:#7f5509; background-image:url(header_light.jpg); background-position:top center; background-repeat:no-repeat;}
#wrapper-footer{background-color:#7f5509; background-image:url(footer_light.jpg); background-position:top center; background-repeat:no-repeat;}

/* button */
.more, .button{
	border:solid 1px #8b5807;
	background:#825609;
	background: -webkit-gradient(linear, left top, left bottom, from(#c57c09), to(#825609));
	background: -moz-linear-gradient(top,  #c57c09,  #825609);
	background: -o-linear-gradient(top,  #c57c09,  #825609);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c57c09', endColorstr='#825609');
  }
.more:hover, .button:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#825609), to(#c57c09));
	background: -moz-linear-gradient(top,  #825609, #c57c09);
	background: -o-linear-gradient(top,  #825609, #c57c09);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#825609', endColorstr='#c57c09');
}


/* tab */
html ul.tabs li.active, html ul.tabs li.active a:hover {
	border:solid 1px #8b5807;
	background:#825609;
	background: -webkit-gradient(linear, left top, left bottom, from(#c57c09), to(#825609));
	background: -moz-linear-gradient(top,  #c57c09,  #825609);
	background: -o-linear-gradient(top,  #c57c09,  #825609);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c57c09', endColorstr='#825609');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}
ul.tabs li:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#825609), to(#c57c09));
	background: -moz-linear-gradient(top,  #825609, #c57c09);
	background: -o-linear-gradient(top,  #825609, #c57c09);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#825609', endColorstr='#c57c09');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}
ul.tabs li a:hover {
	border:solid 1px #8b5807;
	background: -webkit-gradient(linear, left top, left bottom, from(#825609), to(#c57c09));
	background: -moz-linear-gradient(top,  #825609, #c57c09);
	background: -o-linear-gradient(top,  #825609, #c57c09);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#825609', endColorstr='#c57c09');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}

/* toggles */
h2.trigger{
	border:solid 1px #8b5807;
	background:#825609;
	background: -webkit-gradient(linear, left top, left bottom, from(#c57c09), to(#825609));
	background: -moz-linear-gradient(top,  #c57c09,  #825609);
	background: -o-linear-gradient(top,  #c57c09,  #825609);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c57c09', endColorstr='#825609');
}
