{% include 'components/header.html' %}
{% include 'components/menu-top.html' %}

<!-- BARRA DE TÍTULO -->
	<div id="wrapper-header-inner">
		<div id="wrapper-header-shadowline">
			<div id="header-inner">
				<h1 class="pagetitle">Administración &#187; Publicaciones &#187; Crear</h1>
			</div><!-- end header-inner -->
		</div><!-- end wrapper-header-shadowline -->
	</div> <!-- end wrapper-header -inner-->
<!-- FIN BARRA DE TÍTULO -->
	
<!-- CONTENIDO PRINCIPAL -->
	<div id="wrapper-content">
		<div id="content-container-inner">
			<div id="content">
				
				<h6><span style="color:#888888;">&#9658;&nbsp;</span>Nueva publicación</h6></br>

				<div class="clear"></div><!-- clear float -->
				<div id="contactform">
                    <form action="/administrarPublicaciones/guardar" method="POST" enctype="multipart/form-data" data-toggle="validator" class="jumbotron py-4 px-3 pr-0 bg-light">
						<fieldset>
						<label for="codigo"><span class="required">*</span>Código:<br />
							<input type="text" name="codigo" required value="" class="text-input" style="width:150px;" />
						</label>

						<label for="nombre"><span class="required">*</span>Nombre:<br />
							<input type="text" name="nombre" required value="" class="text-input" style="width:480px;" />
						</label>
						
						<br class="clear"/>
						
						<label for="tipo"><span class="required">*</span>Tipo:<br /> 
							<select name="tipo" required class="text-input" required>
								{% for item in tipos %}
									<option value="{{item.codigo}}">{{ item.nombre }}</option>
								{% endfor %}
							</select>
						</label>

						<label for="cadena"><span class="required">*</span>Cadena:<br /> 
							<select name="cadena" required class="text-input" required>
								{% for item in cadenas %}
									<option value="{{item.codigo}}">{{ item.nombre }}</option>
								{% endfor %}
							</select>
						</label>

						<label for="fecha"><span class="required">*</span>Fecha:<br /> 
							<input type="date" name="fecha" required min="2019-01-01" value="" class="text-input" style="width:150px; padding-top:4px; margin-top:4px;" />
						</label>
						
						<br class="clear" />
						
						<label for="titulo"><span class="required">*</span>Título:<br /> 
							<input type="text" name="titulo" required value="" class="text-input" style="width:650px;" />
						</label>
						
						<br class="clear" />
						
						<label for="tematica"><span class="required">*</span>Temática:<br />
							<textarea cols="30" rows="5" name="tematica" required style="width:650px;"></textarea><br class="clear" />
						</label>

						<br class="clear" />
						
						<label for="resumen"><span class="required">*</span>Resumen:<br />
							<textarea cols="30" rows="5" name="resumen" required style="width:650px;"></textarea><br class="clear" />
						</label>

						<br class="clear" />
						
						<label for="etiquetas"><span class="unrequired">*</span>Etiquetas:<br />
							<input type="text" name="etiquetas" value="" class="text-input" style="width:650px;" />
						</label>

						<br class="clear" />
						
						<label for="imagen"><span class="unrequired">*</span>Imagen de Presentación:<br /> 
							<img src="/static/images/iconset/i_gallery.png" alt="" title="Subir imagen" style="margin-bottom:-5px;"/>
							<input type="file" name="imagen" accept=".jpg, .png, .jpeg" />
						</label>

						<label for="archivo">&nbsp;&nbsp;&nbsp;&nbsp;<span class="unrequired">*</span>Archivo de la Publicación:<br />
							&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/images/iconset/i_doc.png" alt="" title="Subir publicación" style="margin-bottom:-5px;"/>
							<input type="file" name="archivo" accept=".pdf" />
						</label>

						<br class="clear" />
						<br class="clear" />
						<br class="clear" />

						<div style="float: left; margin: -20px 10px 10px 0;">
							<a href="/administrarPublicaciones/listar" class="button grey">Cancelar</a>
							<input type="submit" class="button green" value="Guardar" style="padding-bottom: 4px; height:32px;"/> 
						</div>
						<br class="clear" />
						</fieldset>
					</form>

					{% if error %}
					{% if error is mapping %}
					<div class="error-box"><strong>Error:</strong>
						<ul>
							{% for i in error.values() %}
							<li>{{i}}</li>
							{% endfor %}
						</ul>
					</div>
					{% else %}
					<div class="error-box">{{error}}</div>
					{% endif %}
					{% endif %}
					<br class="clear" />

				</div><!-- end #contactform -->
				<div class="clear"></div><!-- clear float -->
			</div><!-- end content -->
<!-- CONTENIDO PRINCIPAL -->

			{% include 'components/sidebar-admin.html' %}

			<div class="clear"></div><!-- end clear -->
		
		</div><!-- end content-container-inner -->

	</div> <!-- end wrapper-content -->
	
{% include 'components/footer.html' %}
