{% include 'components/header.html' %}
{% include 'components/menu-top.html' %}

<!-- BARRA DE TÍTULO -->
	<div id="wrapper-header-inner">
		<div id="wrapper-header-shadowline">
			<div id="header-inner">
				<h1 class="pagetitle">Administración &#187; Publicaciones &#187; Editar</h1>
			</div><!-- end header-inner -->
		</div><!-- end wrapper-header-shadowline -->
	</div> <!-- end wrapper-header -inner-->
<!-- FIN BARRA DE TÍTULO -->
	
<!-- CONTENIDO PRINCIPAL -->
	<div id="wrapper-content">
		<div id="content-container-inner">
			<div id="content">
				
				<h6><span style="color:#888888;">&#9658;&nbsp;</span>Editar publicación</h6></br>

				<div class="clear"></div><!-- clear float -->
				<div id="contactform">
					{% if item.codigo %}
                    <form action="/administrarPublicaciones/actualizar" method="POST" enctype="multipart/form-data" data-toggle="validator" class="jumbotron py-4 px-3 pr-0 bg-light">
						<fieldset>

							<input type="text" name="codigo" hidden value="{{item.codigo}}" />
							<label for="codigo"><span class="required">*</span>Código:<br />
								<input type="text" disabled value="{{item.codigo}}" class="text-input" style="width:150px;" />
							</label>

							<label for="nombre"><span class="required">*</span>Nombre:<br />
								<input type="text" name="nombre" required value="{{item.nombre}}" class="text-input" style="width:480px;" />
							</label>

							<br class="clear"/>

							<label for="fecha"><span class="required">*</span>Fecha:<br />
								<input type="date" name="fecha" required min="2019-01-01" value="{{item.fecha}}" class="text-input" style="width:150px; padding-top:4px; margin-top:4px;" />
							</label>
							
							<label for="tipo"><span class="required">*</span>Tipo:<br /> 
								<select name="tipo" required class="text-input" required>
									{% for i in tipos %}
										<option value="{{i.codigo}}" {% if item.tipo==i.codigo %} selected="selected" {% endif %}>{{ i.nombre }}</option>
									{% endfor %}
								</select>
							</label>
							
							<label for="cadena"><span class="required">*</span>Cadena:<br /> 
								<select name="cadena" required class="text-input" required>
									{% for i in cadenas %}
										<option value="{{i.codigo}}" {% if item.cadena==i.codigo %} selected="selected" {% endif %}>{{ i.nombre }}</option>
									{% endfor %}
								</select>
							</label>

							<br class="clear" />

							<label for="titulo"><span class="required">*</span>Título:<br /> 
								<input type="text" name="titulo" required value="{{item.titulo}}" class="text-input" style="width:650px;" />
							</label>

							<br class="clear" />

							<label for="tematica"><span class="required">*</span>Temática:<br />
								<textarea cols="30" rows="5" name="tematica" required style="width:650px;">{{item.tematica}}</textarea><br class="clear" />
							</label>

							<br class="clear" />

							<label for="resumen"><span class="required">*</span>Resumen:<br />
								<textarea cols="30" rows="5" name="resumen" required style="width:650px;">{{item.resumen}}</textarea><br class="clear" />
							</label>

							<br class="clear" />

							<label for="etiquetas"><span class="unrequired">*</span>Etiquetas:<br />
								<input type="text" name="etiquetas" value="{{item.etiquetas}}" class="text-input" style="width:650px;" />
							</label>
							
							<br class="clear" />
							
							<label for="imagen"><span class="unrequired">*</span>Imagen de Presentación:<br /> 
								<br>
								<a target="_blank" href="/static/files/{{item.imagen}}">
									<img src="/static/images/iconset/i_gallery.png"  title="Ver imagen actual" style="margin-bottom:-7px;"/>
									{{item.imagen}}
								</a>								
								<br>
								<input type="file" name="imagen" accept=".jpg, .png, .jpeg" style="margin-top:3%"/>
							</label>

							<label  style="margin-left:80px;" for="archivo"><span class="unrequired">*</span>Archivo de la Publicación:<br />
								<br>
								<a target="_blank" href="/static/files/{{item.archivo}}" style="margin-top:4%">
									<img src="/static/images/iconset/i_doc.png" title="Ver archivo actual" style="margin-bottom:-7px;"/>
									{{item.archivo}}
								</a>								
								<br>
								<input type="file" name="archivo" accept=".pdf" style="margin-top:3%" />
							</label>

						<br class="clear" />
						<br class="clear" />
						<br class="clear" />
						<br class="clear" />

						<div style="float: left; margin: -20px 10px 10px 0;">
							<a href="/administrarPublicaciones/listar" class="button grey">Cancelar</a>
							<input type="submit" class="button green" value="Guardar" style="padding-bottom: 4px; height:32px;"/> 
						</div>
						<br class="clear" />
						</fieldset>
					</form>
					{% endif %}

					{% if error %}
					{% if error is mapping %}
					<div class="error-box"><strong>Error:</strong>
						<ul>
							{% for i in error.values() %}
							<li>{{i}}</li>
							{% endfor %}
						</ul>
					</div>
					{% else %}
					<div class="error-box">{{error}}</div>
					{% endif %}
					{% endif %}
					<br class="clear" />

				</div><!-- end #contactform -->
				<div class="clear"></div><!-- clear float -->
			</div><!-- end content -->
<!-- CONTENIDO PRINCIPAL -->

			{% include 'components/sidebar-admin.html' %}

			<div class="clear"></div><!-- end clear -->
		
		</div><!-- end content-container-inner -->

	</div> <!-- end wrapper-content -->
	
{% include 'components/footer.html' %}
