{% include 'components/header.html' %}
{% include 'components/menu-top.html' %}

<!-- BARRA DE TÍTULO -->
	<div id="wrapper-header-inner">
		<div id="wrapper-header-shadowline">
			<div id="header-inner">
				<div class="subnavigation">
					{% for item in cadenas %}
					{% if loop.index!=1 %}
					|
					{% endif %}
					{% if(session['sedica_cadenaPub']==item['codigo']) %}
					<a href="/publicaciones/cadena/{{item.codigo}}" style="text-decoration:underline;">{{item.nombre}}</a>
					{%else%}
					<a href="/publicaciones/cadena/{{item.codigo}}">{{item.nombre}}</a>
					{%endif%}
					{% endfor %}
				</div>
				<h1 class="pagetitle">Publicaciones</h1>
			</div><!-- end header-inner -->
		</div><!-- end wrapper-header-shadowline -->
	</div> <!-- end wrapper-header -inner-->
<!-- FIN BARRA DE TÍTULO -->
	
<!-- CONTENIDO PRINCIPAL -->
	<div id="wrapper-content">
		<div id="content-container-inner">
			<div id="content">
				{% if (lista|count >0) %}
				{% set p_etiquetas = [] %}
				<ul>
					<li class="widget-container" id="popularpost">
						<ul>
							{%  for item in lista  %}
							<li>	
								<img src="/static/files/{{item.imagen}}" width="210px" height="120px" alt="" class="alignleft imgframe2" />
								<strong style="font-size: 14px;">{{item.titulo}}</strong><br />
								<span class="entry-utility">{{item.nombre}}</span><br />
								<div style="float: left; padding-top: 10px;">
									{%  set temas = item.tematica.split('-') %}
									<ul>
										{% for t in temas if t %}
										<li>{{t}}</li>
										{% endfor %}
									</ul>
								</div>
								<br class="clear" />
								<p>{{item.resumen}}</p>
								<div>
									{%  for tag in item.etiquetas  %}
									<a href="/publicaciones/etiqueta/{{tag}}" {{ p_etiquetas.append(tag) }}><span class="highlight1">{{tag}}</span></a>
									{% endfor %}
								</div>
								<div style="float: right; margin: -20px 5px 10px 0;"><a target=_blank href="/static/files/{{item.archivo}}" class="button green">Ver más</a></div>
								<hr />
							</li>
							{% endfor %}
						</ul>
					</li>
				</ul>
				{% else %}
				<div class="info-box"><strong>&nbsp;No hay publicaciones para mostrar.</strong></br>
				</div>
				{% endif %}

				<div class="clear"></div><!-- clear float -->
			</div><!-- end content -->

			<div id="sidecontent">
				<div id="sidebar">
					<ul>
						<li class="widget-container">
							<h2 class="widget-title">Tipos de Publicaciones</h2>
							<ul>
								{% for item in tipos %}
								<li><a href="/publicaciones/tipo/{{item.codigo}}">{{item.nombre}}</a></li>
								{% endfor %}
							</ul>
						</li>
					</ul>
					<div style="margin: -20px 5px 10px 0;"><a href="/publicaciones/" class="button green">Todas</a></div>
					<div class="clear"></div><!-- clear float -->
					</br></br><br>
					{% if (p_etiquetas|count >0) %}
					<h2 class="widget-title">Etiquetas de búsqueda</h2>
					<div style="width:100%;">
						{% for tag in p_etiquetas | unique %}
						<a href="/publicaciones/etiqueta/{{tag}}"><span class="highlight1">{{tag | replace(" ", "_")}}</span></a>
						{% endfor %}
					</div>
					{% endif %}
				</div>				
			</div><!-- end sidecontent -->
			<div class="clear"></div><!-- end clear -->
		</div><!-- end content-container-inner -->

	</div> <!-- end wrapper-content -->
	
<!-- FIN CONTENIDO LATERAL -->

{% include 'components/footer.html' %}
