{% include 'components/header.html' %}
{% include 'components/menu-top.html' %}

<!-- BARRA DE TÍTULO -->
	<div id="wrapper-header-inner">
		<div id="wrapper-header-shadowline">
			<div id="header-inner">
				<h1 class="pagetitle">Administración &#187; Publicaciones</h1>
			</div><!-- end header-inner -->
		</div><!-- end wrapper-header-shadowline -->
	</div> <!-- end wrapper-header -inner-->
<!-- FIN BARRA DE TÍTULO -->
	
<!-- CONTENIDO PRINCIPAL -->
	<div id="wrapper-content">
		<div id="content-container-inner">
			<div id="content">
				
				<!--  Tables -->
				<h6><span style="color:#888888;">&#9658;&nbsp;</span>{{lista|count}} publicaciones encontradas</h6></br>
				
				{% if (lista|count >0) %}
				<table>
				<tbody>
				<tr>
				<th>Nombre</th>
				<th>Título</th>
				<th>Acción</th>
				</tr>
				{% for item in lista %}
				<tr>
				<td>{{item.nombre}}</td>
				<td>{{item.titulo}}</td>
				<td>
					<form action="/administrarPublicaciones/borrar/{{item.codigo}}" method="POST">
					<a href="/administrarPublicaciones/editar/{{item.codigo}}"><img src="/static/images/iconset/i_edit.png" alt="" title="Editar" /></a>
					<input type="image" src="/static/images/iconset/i_delete.png" alt="" title="Borrar"/> 
					</form>
				</td>
				</tr>
				{% endfor %}
				</tbody>
				</table>
				{%endif%}
				<!--  end Tables -->

				<br class="clear" />
				<br class="clear" />

				<div style="float: left; margin: -20px 5px 10px 0;">
					<a href="/administrarPublicaciones/crear" class="button green">Crear</a>
				</div>
				
				<div class="clear"></div><!-- clear float -->
			</div><!-- end content -->
<!-- CONTENIDO PRINCIPAL -->

			{% include 'components/sidebar-admin.html' %}

			<div class="clear"></div><!-- end clear -->

		</div><!-- end content-container-inner -->

	</div> <!-- end wrapper-content -->
	
{% include 'components/footer.html' %}
