a, a:visited, a:hover {color:#240b3d;}
#wrapper-top{border-top:solid 7px #240b3d;}
#wrapper-header, #wrapper-header-inner{background-color:#240b3d; background-image:url(header_light.jpg); background-position:top center; background-repeat:no-repeat;}
#wrapper-footer{background-color:#260b43; background-image:url(footer_light.jpg); background-position:top center; background-repeat:no-repeat;}

/* button */
.more, .button{
	border:solid 1px #21183e;
	background:#271953;
	background: -webkit-gradient(linear, left top, left bottom, from(#3f1cb4), to(#271953));
	background: -moz-linear-gradient(top,  #3f1cb4,  #271953);
	background: -o-linear-gradient(top,  #3f1cb4,  #271953);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f1cb4', endColorstr='#271953');
  }
.more:hover, .button:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#271953), to(#3f1cb4));
	background: -moz-linear-gradient(top,  #271953, #3f1cb4);
	background: -o-linear-gradient(top,  #271953, #3f1cb4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#271953', endColorstr='#3f1cb4');
}


/* tab */
html ul.tabs li.active, html ul.tabs li.active a:hover {
	border:solid 1px #21183e;
	background:#271953;
	background: -webkit-gradient(linear, left top, left bottom, from(#3f1cb4), to(#271953));
	background: -moz-linear-gradient(top,  #3f1cb4,  #271953);
	background: -o-linear-gradient(top,  #3f1cb4,  #271953);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f1cb4', endColorstr='#271953');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}
ul.tabs li:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#271953), to(#3f1cb4));
	background: -moz-linear-gradient(top,  #271953, #3f1cb4);
	background: -o-linear-gradient(top,  #271953, #3f1cb4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#271953', endColorstr='#3f1cb4');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}
ul.tabs li a:hover {
	border:solid 1px #21183e;
	background: -webkit-gradient(linear, left top, left bottom, from(#271953), to(#3f1cb4));
	background: -moz-linear-gradient(top,  #271953, #3f1cb4);
	background: -o-linear-gradient(top,  #271953, #3f1cb4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#271953', endColorstr='#3f1cb4');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}

/* toggles */
h2.trigger{
	border:solid 1px #21183e;
	background:#271953;
	background: -webkit-gradient(linear, left top, left bottom, from(#3f1cb4), to(#271953));
	background: -moz-linear-gradient(top,  #3f1cb4,  #271953);
	background: -o-linear-gradient(top,  #3f1cb4,  #271953);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f1cb4', endColorstr='#271953');
}
