a, a:visited, a:hover {color:#313131;}
#wrapper-top{border-top:solid 7px #133514;}
/*#wrapper-header, #wrapper-header-inner{background-color:#313131; background-image:url(header_light.jpg); background-position:top center; background-repeat:no-repeat;}*/
#wrapper-header, #wrapper-header-inner{background-color:#133514; background-image:url(header_light.jpg); background-position:top center; background-repeat:no-repeat;}
#wrapper-footer{background-color:#353535; background-image:url(footer_light.jpg); background-position:top center; background-repeat:no-repeat;}

/* button */
.more, .button{
	border:solid 1px #313131;
	background:#343434;
	background: -webkit-gradient(linear, left top, left bottom, from(#6e6e6e), to(#343434));
	background: -moz-linear-gradient(top,  #6e6e6e,  #343434);
	background: -o-linear-gradient(top,  #6e6e6e,  #343434);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6e6e6e', endColorstr='#343434');
  }
.more:hover, .button:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#343434), to(#6e6e6e));
	background: -moz-linear-gradient(top,  #343434, #6e6e6e);
	background: -o-linear-gradient(top,  #343434, #6e6e6e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#343434', endColorstr='#6e6e6e');
}


/* tab */
html ul.tabs li.active, html ul.tabs li.active a:hover {
	border:solid 1px #313131;
	background:#343434;
	background: -webkit-gradient(linear, left top, left bottom, from(#6e6e6e), to(#343434));
	background: -moz-linear-gradient(top,  #6e6e6e,  #343434);
	background: -o-linear-gradient(top,  #6e6e6e,  #343434);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6e6e6e', endColorstr='#343434');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}
ul.tabs li:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#343434), to(#6e6e6e));
	background: -moz-linear-gradient(top,  #343434, #6e6e6e);
	background: -o-linear-gradient(top,  #343434, #6e6e6e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#343434', endColorstr='#6e6e6e');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}
ul.tabs li a:hover {
	border:solid 1px #313131;
	background: -webkit-gradient(linear, left top, left bottom, from(#343434), to(#6e6e6e));
	background: -moz-linear-gradient(top,  #343434, #6e6e6e);
	background: -o-linear-gradient(top,  #343434, #6e6e6e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#343434', endColorstr='#6e6e6e');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}

/* toggles */
h2.trigger{
	border:solid 1px #313131;
	background:#343434;
	background: -webkit-gradient(linear, left top, left bottom, from(#6e6e6e), to(#343434));
	background: -moz-linear-gradient(top,  #6e6e6e,  #343434);
	background: -o-linear-gradient(top,  #6e6e6e,  #343434);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6e6e6e', endColorstr='#343434');
}
