a, a:visited, a:hover {color:#16343b;}
#wrapper-top{border-top:solid 7px #16343b;}
#wrapper-header, #wrapper-header-inner{background-color:#16343b; background-image:url(header_light.jpg); background-position:top center; background-repeat:no-repeat;}
#wrapper-footer{background-color:#173840; background-image:url(footer_light.jpg); background-position:top center; background-repeat:no-repeat;}

/* button */
.more, .button{
	border:solid 1px #192a2e; 
	background:#203b42;
	background: -webkit-gradient(linear, left top, left bottom, from(#3a7e8e), to(#203b42));
	background: -moz-linear-gradient(top,  #3a7e8e,  #203b42);
	background: -o-linear-gradient(top,  #3a7e8e,  #203b42);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a7e8e', endColorstr='#203b42');
  }
.more:hover, .button:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#203b42), to(#3a7e8e));
	background: -moz-linear-gradient(top,  #203b42, #3a7e8e );
	background: -o-linear-gradient(top,  #203b42, #3a7e8e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#203b42', endColorstr='#3a7e8e');
}


/* tab */
html ul.tabs li.active, html ul.tabs li.active a:hover {
	border:solid 1px #192a2e;
	background:#203b42;
	background: -webkit-gradient(linear, left top, left bottom, from(#3a7e8e), to(#203b42));
	background: -moz-linear-gradient(top,  #3a7e8e,  #203b42);
	background: -o-linear-gradient(top,  #3a7e8e,  #203b42);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a7e8e', endColorstr='#203b42');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}
ul.tabs li:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#203b42), to(#3a7e8e));
	background: -moz-linear-gradient(top,  #203b42, #3a7e8e );
	background: -o-linear-gradient(top,  #203b42, #3a7e8e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#203b42', endColorstr='#3a7e8e');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}
ul.tabs li a:hover {
	border:solid 1px #192a2e;
	background: -webkit-gradient(linear, left top, left bottom, from(#203b42), to(#3a7e8e));
	background: -moz-linear-gradient(top,  #203b42, #3a7e8e );
	background: -o-linear-gradient(top,  #203b42, #3a7e8e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#203b42', endColorstr='#3a7e8e');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}

/* toggles */
h2.trigger{
	border:solid 1px #192a2e;
	background:#203b42;
	background: -webkit-gradient(linear, left top, left bottom, from(#3a7e8e), to(#203b42));
	background: -moz-linear-gradient(top,  #3a7e8e,  #203b42);
	background: -o-linear-gradient(top,  #3a7e8e,  #203b42);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a7e8e', endColorstr='#203b42');
}
