a, a:visited, a:hover {color:#42210a;}
#wrapper-top{border-top:solid 7px #42210a;}
#wrapper-header, #wrapper-header-inner{background-color:#42210a; background-image:url(header_light.jpg); background-position:top center; background-repeat:no-repeat;}
#wrapper-footer{background-color:#49230a; background-image:url(footer_light.jpg); background-position:top center; background-repeat:no-repeat;}

/* button */
.more, .button{
	border:solid 1px #42210a;
	background:#46230b;
	background: -webkit-gradient(linear, left top, left bottom, from(#89491d), to(#46230b));
	background: -moz-linear-gradient(top,  #89491d,  #46230b);
	background: -o-linear-gradient(top,  #89491d,  #46230b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#89491d', endColorstr='#46230b');
  }
.more:hover, .button:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#46230b), to(#89491d));
	background: -moz-linear-gradient(top,  #46230b, #89491d);
	background: -o-linear-gradient(top,  #46230b, #89491d);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#46230b', endColorstr='#89491d');
}


/* tab */
html ul.tabs li.active, html ul.tabs li.active a:hover {
	border:solid 1px #42210a;
	background:#46230b;
	background: -webkit-gradient(linear, left top, left bottom, from(#89491d), to(#46230b));
	background: -moz-linear-gradient(top,  #89491d,  #46230b);
	background: -o-linear-gradient(top,  #89491d,  #46230b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#89491d', endColorstr='#46230b');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}
ul.tabs li:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#46230b), to(#89491d));
	background: -moz-linear-gradient(top,  #46230b, #89491d);
	background: -o-linear-gradient(top,  #46230b, #89491d);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#46230b', endColorstr='#89491d');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}
ul.tabs li a:hover {
	border:solid 1px #42210a;
	background: -webkit-gradient(linear, left top, left bottom, from(#46230b), to(#89491d));
	background: -moz-linear-gradient(top,  #46230b, #89491d);
	background: -o-linear-gradient(top,  #46230b, #89491d);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#46230b', endColorstr='#89491d');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}

/* toggles */
h2.trigger{
	border:solid 1px #42210a;
	background:#46230b;
	background: -webkit-gradient(linear, left top, left bottom, from(#89491d), to(#46230b));
	background: -moz-linear-gradient(top,  #89491d,  #46230b);
	background: -o-linear-gradient(top,  #89491d,  #46230b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#89491d', endColorstr='#46230b');
}
