{% include 'components/header.html' %}
{% include 'components/menu-top.html' %}

<!-- BARRA DE TÍTULO -->
	<div id="wrapper-header-inner">
		<div id="wrapper-header-shadowline">
			<div id="header-inner">
				<h1 class="pagetitle">Centro de Desarrollo Agrobiotecnológico de Innovación e Integración Territorial</h1>
			</div><!-- end header-inner -->
		</div><!-- end wrapper-header-shadowline -->
	</div> <!-- end wrapper-header -inner-->
<!-- FIN BARRA DE TÍTULO -->
	
<!-- CONTENIDO PRINCIPAL -->
	<div id="wrapper-content">
		<div id="content-container-inner">
			<h1>¿Quiénes Somos?</h1>
				
			<div class="one_half">
				<blockquote><p>Somos un Centro de Desarrollo Agrobiotecnológico que aporta a la transformación de la estructura productiva de Antioquia mediante la generación y uso del conocimiento, la valorización de la agricultura y la estructuración de negocios rentables para la transformación socioeconómica de los territorios y el fortalecimiento de su talento humano. </p></blockquote>
				<p>El Centro define su operación en tres pilares fundamentales, una <b>Infraestructura Especializada</b> para la producción y comercialización de material vegetal certificado y de alta calidad; un <b>Sistema Experto de Información y Comunicación</b> que facilita la transferencia de conocimiento para la toma de decisiones y fortalecimiento de las agrocadenas de cacao, flores, carne y leche; y los <b>Laboratorios Territoriales</b>, espacios para la integración de actores, el diálogo de saberes, la apropiación social del conocimiento, y la configuración de agronegocios.
				</p>
			</div>
			<div class="one_half last"><img src="/static/images/portafolio/PPT+interventoria.png" width="470px" height="320px" alt="" class="alignright shadowimg" /></div>
				
				<br class="clear" /><br />
				
				<h1>Líneas de Trabajo</h1>
				<div class="one_third">
					<div class="one_fifth"><img src="/static/images/iconset/icon1.png" alt="" class="alignleft" /></div>
					<div class="four_fifth last"><h3 style="padding-top:30px;">Infraestructura Especializada</h3></div>
					<p class="blocktext">Apoyamos procesos de desarrollo tecnológico que permitan la transformación del conocimiento científico y tecnológico con el fin de estimular la conexión entre el conocimiento, la investigación y el desarrollo productivo a través de la producción y comercialización de material vegetal élite. </p>
					<!--<a href="#" class="more">Ver Más</a>-->
				</div>
				<div class="one_third">
					<div class="one_fifth"><img src="/static/images/iconset/icon2.png" alt="" class="alignleft" /></div>
					<div class="four_fifth last"><h3 style="padding-top:30px;">Sistema Experto de Información</h3></div>
					<p class="blocktext">Herramienta de información que refuerza el proceso de toma de decisiones del sector agrario en Antioquia, articulando toda la información de los diferentes actores del sector, tanto públicos como privados, bajo estándares de calidad, oportunidad y adecuada divulgación de la información.</p>
					<!--<a href="#" class="more">Ver Más</a>-->
				</div>
				<div class="one_third last">
					<div class="one_fifth"><img src="/static/images/iconset/icon3.png" alt="" class="alignleft" /></div>
					<div class="four_fifth last"><h3 style="padding-top:30px;">Laboratorios Territoriales</h3></div>
					<p class="blocktext">Espacios demográficos en los que se promueve el desarrollo de capacidades, la apropiación de conocimiento y la valoración de los saberes empíricos, mediante proyectos de aprendizaje basados en experiencias y en el desarrollo de actividades prácticas.</p>
					<!--<a href="#" class="more">Ver Más</a>-->
				</div>
				<div class="clear"></div><!-- end clear -->
				<div id="content-bottom"><br />
					<h1>Socios y Aliados</h1>
					<div class="one_fourth">
						<img src="/static/images/socios/GobAnt.jpg" width="90%"alt="" class="alignleft" />
					</div>
					<div class="one_fourth">
						<img src="/static/images/socios/UdeA.png" width="99%"alt="" class="alignleft" />
					</div>
					<div class="one_fourth">
						<img src="/static/images/socios/UCO.jpg" width="90%"alt="" class="alignleft" />
					</div>
					<div class="one_fourth last">
						<img src="/static/images/socios/NalChoc.jpg" width="99%"alt="" class="alignleft" />
					</div>
					<div class="clear"></div><!-- end clear -->
			</div><!-- end content-bottom -->
		</div><!-- end content-container-inner -->
		<div class="clear"></div><!-- end clear -->
	</div> <!-- end wrapper-content -->
<!-- CONTENIDO PRINCIPAL -->
	
{% include 'components/footer.html' %}
	
