{% include 'components/header.html' %}
{% include 'components/menu-top.html' %}

<!-- BARRA DE TÍTULO -->
	<div id="wrapper-header-inner">
		<div id="wrapper-header-shadowline">
			<div id="header-inner">
				<h1 class="pagetitle">Inicio de Sesión</h1>
			</div><!-- end header-inner -->
		</div><!-- end wrapper-header-shadowline -->
	</div> <!-- end wrapper-header -inner-->
<!-- FIN BARRA DE TÍTULO -->
	
<!-- CONTENIDO PRINCIPAL -->
	<div id="wrapper-content">
		<div id="content-container-inner">
			<div id="content">

					<center>

							<div id="central"  style="width:980px; min-height:400px; text-align:left;"><!-- inicio central -->
							
								<div class="one_third">
								<p style="text-align: center; padding-top:10px;" >
									<br class="clear" />
									<img src="/static/images/iconset/xg_idcard.png" />
								</p>
								</div><!-- end .one_fourth -->
								
								<div class="one_half last">
									<div style="width: 100%;">

										<form action="/auth/login" method="POST" data-toggle="validator" class="jumbotron py-4 px-3 pr-0 bg-light">
										<fieldset>
							
										<div style="margin:20px 0px;">
							
											<label class="bold" for="Email"><span class="required">*</span>Usuario:<br /> 
											<input name="correo" required type="text" class="text-input" style="width:370px;" />
											</label>

											<br class="clear" />
							
											<label class="bold" for="Clave"><span class="required">*</span>Clave:<br /> 
											<input name="clave" required type="password" class="text-input" style="width:370px;" />
											</label>
											
											<br class="clear" />
											<br class="clear" />
											
											<div style="text-align:right; margin-right: 80px;">
												<input type="submit" value="Continuar" class="button green"/>
											</div>
										</div>

										</fieldset>
										</form>
												
										{% if error %}
										<div class="error-box">
											{{ error }}</br>
										</div>
										{% endif %}
										<br class="clear" />
									</div><!-- end #contactform -->
								</div><!-- end .three_fourth -->
							
							</div>
							
							</center>
				
				<div class="clear"></div><!-- clear float -->
			</div><!-- end content -->
			<div id="sidecontent">
				<div id="sidebar">
					<ul>
						<li class="widget-container">
							<h2 class="widget-title">Líneas de Trabajo</h2>
							<ul>
								<li><a target="_blank" href="http://www.udea.edu.co/wps/portal/udea/web/inicio/cedait/lineas-trabajo/infraestructura-especializada">Infraestructura Especializada</a></li>
								<li><a target="_blank" href="http://www.udea.edu.co/wps/portal/udea/web/inicio/cedait/lineas-trabajo/sistema-experto-informacion">Sistema Experto de Información</a></li>
								<li><a target="_blank" href="http://www.udea.edu.co/wps/portal/udea/web/inicio/cedait/lineas-trabajo/laboratorios-territoriales">Laboratorios Territoriales</a></li>
							</ul>
						</li>
					</ul>
				</div>				
			</div><!-- end sidecontent -->
			<div class="clear"></div><!-- end clear -->
		</div><!-- end content-container-inner -->

	</div> <!-- end wrapper-content -->
<!-- CONTENIDO PRINCIPAL -->
	
{% include 'components/footer.html' %}
	
