a, a:visited, a:hover {color:#7e1550;}
#wrapper-top{border-top:solid 7px #7e1550;}
#wrapper-header, #wrapper-header-inner{background-color:#7e1550; background-image:url(header_light.jpg); background-position:top center; background-repeat:no-repeat;}
#wrapper-footer{background-color:#78154a; background-image:url(footer_light.jpg); background-position:top center; background-repeat:no-repeat;}

/* button */
.more, .button{
	border:solid 1px #760c48;
	background:#851153;
	background: -webkit-gradient(linear, left top, left bottom, from(#db1384), to(#851153));
	background: -moz-linear-gradient(top,  #db1384,  #851153);
	background: -o-linear-gradient(top,  #db1384,  #851153);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#db1384', endColorstr='#851153');
  }
.more:hover, .button:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#851153), to(#db1384));
	background: -moz-linear-gradient(top,  #851153, #db1384);
	background: -o-linear-gradient(top,  #851153, #db1384);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#851153', endColorstr='#db1384');
}


/* tab */
html ul.tabs li.active, html ul.tabs li.active a:hover {
	border:solid 1px #760c48;
	background:#851153;
	background: -webkit-gradient(linear, left top, left bottom, from(#db1384), to(#851153));
	background: -moz-linear-gradient(top,  #db1384,  #851153);
	background: -o-linear-gradient(top,  #db1384,  #851153);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#db1384', endColorstr='#851153');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}
ul.tabs li:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#851153), to(#db1384));
	background: -moz-linear-gradient(top,  #851153, #db1384);
	background: -o-linear-gradient(top,  #851153, #db1384);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#851153', endColorstr='#db1384');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}
ul.tabs li a:hover {
	border:solid 1px #760c48;
	background: -webkit-gradient(linear, left top, left bottom, from(#851153), to(#db1384));
	background: -moz-linear-gradient(top,  #851153, #db1384);
	background: -o-linear-gradient(top,  #851153, #db1384);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#851153', endColorstr='#db1384');
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}

/* toggles */
h2.trigger{
	border:solid 1px #760c48;
	background:#851153;
	background: -webkit-gradient(linear, left top, left bottom, from(#db1384), to(#851153));
	background: -moz-linear-gradient(top,  #db1384,  #851153);
	background: -o-linear-gradient(top,  #db1384,  #851153);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#db1384', endColorstr='#851153');
}
