/* 
CSS File
USE THIS STYLE SHEET FOR INNER PAGE
*/

#header-inner h1,
#header-inner h2,
#header-inner h3,
#header-inner h4,
#header-inner h5,
#header-inner h6, 
#header-inner{color:#fff !important;}

.pagetitle{font-size:30px; line-height:110px}
.introtitle{float:right; font-size:20px; line-height:24px; margin:30px 0 0 0;}
.subnavigation{float:right; font-size:14px; line-height:110px}
.blocktext{clear:both; display:block; padding:10px 0 0 0}

/* Pagenavi */
.pagenavi {clear:both; padding:20px 0px 20px 0px;}
.pagenavi a, .pagenavi a:visited{
	color:#989898;
	background-color:#fff;
	padding:5px 10px;
	margin-left:8px;
	border:solid 1px #ebeaea;
}

.pagenavi a:hover{
	background-color:#efefef;
	color:#989898;
	padding:5px 10px;
	margin-left:8px;
	border:solid 1px #ebeaea;
}
.pagenavi .current{
	background-color:#efefef;
	color:#989898;
	padding:5px 10px;
	margin-left:8px;
	border:solid 1px #ebeaea;
	}
.pagenavi .pages{
	color:#989898;
	background-color:#fff;
	padding:5px 10px;
	margin-left:8px;
	border:solid 1px #ebeaea;
}

/* NEWS */
#news-content{list-style-type:none; padding:0; margin:0;}
#news-content li{clear:both; margin-bottom:60px;}
#news-content h2{margin:-5px 0 0 0;}
#news-content h2 a, #news-content h2 a:visited{color:#353535;}


/* PORTFOLIO */
.ts-display-pf-img{position:relative;}
.ts-display-clear{clear:both; height:1px !important; line-height:1px !important; float:none!important}
.ts-display-pf-text .more{
	text-align:left;
	float:left
}
.ts-display-pf-text .more:hover{
}

.glowimg{
	background:url(../images/shadow_img.png);
	background-repeat:repeat-x;
	display:block;
	height:19px;
}


/*======= Portfolio 1 Column =======*/
#ts-display-pf-col-1{list-style-type:none; padding:0; margin:0;}
#ts-display-pf-col-1 li{list-style-type:none; padding:0; margin:0 0 50px 0; !important}
#ts-display-pf-col-1 li.nomargin{margin-right:0;}
#ts-display-pf-col-1 h2{margin-bottom:10px;}

#ts-display-pf-col-1 .ts-display-pf-img{
	width:620px;
	height:341px;
	float:left;
	margin-top:5px;
	margin-right:20px
}

#ts-display-pf-col-1 .ts-display-pf-img a.image{
	width:620px;
	height:341px;
	display:block;
	position:relative;
}

#ts-display-pf-col-1 .ts-display-pf-img a .rollover{
	background:url(../images/hover-opacity.png);
	background-color:#000;
	background-repeat:no-repeat;
	background-position:center;
	width:620px;
	height:341px;
	display:block;
    position:absolute;
	z-index:10;
	display:none;
	cursor:pointer;
}

#ts-display-pf-col-1 .ts-display-pf-text{
	width:300px;
	float:left;
	padding-left:0;
}

/*======= Portfolio 2 Column =======*/
#ts-display-pf-col-2{list-style-type:none; padding:0; margin:0;}
#ts-display-pf-col-2 li{list-style-type:none; padding:0; margin:0 40px 50px 0; width:450px;  float:left}
#ts-display-pf-col-2 li.nomargin{margin-right:0;}
#ts-display-pf-col-2 h2{margin-bottom:10px;}

#ts-display-pf-col-2 .ts-display-pf-img{
	width:450px;
	height:257px;
}

#ts-display-pf-col-2 .ts-display-pf-img a.image{
	width:450px;
	height:257px;
	display:block;
	position:relative;

}

#ts-display-pf-col-2 .ts-display-pf-img a .rollover{
	background:url(../images/hover-opacity.png);
	background-color:#000;
	background-repeat:no-repeat;
	background-position:center;
	width:450px;
	height:257px;
	display:block;
    position:absolute;
	z-index:10;
	display:none;
	cursor:pointer;
}

#ts-display-pf-col-2 .ts-display-pf-text{
	margin-top:20px;
}


/*======= Portfolio 3 Column =======*/
#ts-display-pf-col-3{list-style-type:none; padding:0; margin:0;}
#ts-display-pf-col-3 li{list-style-type:none; padding:0; margin:0 35px 50px 0; width:290px;  float:left}
#ts-display-pf-col-3 li.nomargin{margin-right:0;}
#ts-display-pf-col-3 h2{margin-bottom:10px}

#ts-display-pf-col-3 .ts-display-pf-img{
	width:290px;
	height:206px;
}

#ts-display-pf-col-3 .ts-display-pf-img a.image{
	width:290px;
	height:206px;
	display:block;
	position:relative;

}

#ts-display-pf-col-3 .ts-display-pf-img a .rollover{
	background:url(../images/hover-opacity.png);
	background-color:#000;
	background-repeat:no-repeat;
	background-position:center;
	width:290px;
	height:206px;
	display:block;
    position:absolute;
	z-index:10;
	display:none;
	cursor:pointer;
}

#ts-display-pf-col-3 .ts-display-pf-text{
	margin-top:20px;
}

/*======= Portfolio 4 Column =======*/
#ts-display-pf-col-4{list-style-type:none; padding:0; margin:0;}
#ts-display-pf-col-4 li{list-style-type:none; padding:0; margin:0 35px 50px 0; width:208px;  float:left}
#ts-display-pf-col-4 li.nomargin{margin-right:0;}
#ts-display-pf-col-4 h2{margin-bottom:10px}

#ts-display-pf-col-4 .ts-display-pf-img{
	width:208px;
	height:165px;
}

#ts-display-pf-col-4 .ts-display-pf-img a.image{
	width:208px;
	height:165px;
	display:block;
	position:relative;

}

#ts-display-pf-col-4 .ts-display-pf-img a .rollover{
	background:url(../images/hover-opacity.png);
	background-color:#000;
	background-repeat:no-repeat;
	background-position:center;
	width:208px;
	height:165px;
	display:block;
    position:absolute;
	z-index:10;
	display:none;
	cursor:pointer;
}

#ts-display-pf-col-4 .ts-display-pf-text{
	margin-top:20px;
}


/* BLOG */
.posttitle{margin:0 0 0 0; font-size:28px; line-height:30px;}
.posttitle a, .posttitle a:visited{color:#353535}
.posttitle a:hover{text-decoration:none}
.post{margin-bottom:60px;  position:relative; margin-top:-5px}
.post.single{margin-bottom:0px; padding-bottom:0px; border:0;}
.post-entry{}
.entry-content{padding:15px 0 0 0;}
.entry-utility{font-size:12px; font-weight: bold; color: gray;}
.entry-utility a, .entry-utility a:visited{font-size:12px; font-weight: bold; color: gray;}
.entry-utility a:hover{}
.more{display:inline-block;}

#comment .pagenavi{
	padding:0 0 40px 0;
}
.commentlist{
	list-style-type:none;
	padding:20px 0;
	margin:0;
}
.commentlist ol{
	list-style-type:none;
	padding:30px 0 0 90px;
	margin:0;
}

.commentlist li{
	position:relative;
	padding:0 0 30px 0;
}
.commentlist li li{
	position:relative;
	padding:0;
}

.avatar{
	position:absolute;
	top:0;
	left:0;
}
.tuser{font-size:14px;}
.comment-body{margin:0 0 0 90px; padding:0;}
#commentform label{display:block}
#commentform .text-input{
	margin-bottom:8px;
	padding:8px 5px;
	vertical-align:middle;
}
#commentform .textarea{
	margin-bottom:10px;
	padding:8px 5px;
	vertical-align:top;
}
#commentform .button{
	margin-top:15px;
 }
#commentform .button:hover{text-decoration:none;}



/* CONTACT */
form{margin:0; padding:0;}
fieldset{border:0px;}
#contactform{margin:0 auto; position:relative}

#contactform label{float:left}
span.error{color:red;text-align:left; font-size:9px; float:left;}
#contactform .text-input{
	background-color:#fff;
	border:solid 1px #dadada;
	margin-bottom:20px;
	padding:6px 5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	width:172px;
}

form .required{color: red; padding-right: 2px;}
form .unrequired{color: white;}

#contactform textarea{
	background-color:#fff;
	border:solid 1px #dadada;
	margin-bottom:7px;
	padding:6px 5px;
	width:95%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
#message{ margin-left:0px;}
#message h2{}
#message p{margin:6px 0px; }
.button{ cursor:pointer; margin:10px 0 0 0;}
