/* 
CSS File
*/


/*** GLOBAL  ***/
body {
	font-family: Verdana, Arial;
	font-size:13px;
	margin:0 auto;
	padding:0;
	color:#565656;
	line-height:20px;
}
* {
	margin:0;
	padding:0;
}
*:focus {
	outline:none; /* removes ugly dotted border but may make template more unsuable, up to you
					 if you want to keep it! */
}
.clear{clear:both; float:none!important;}
form{margin:0; padding:0;}
hr {
	border-width:0;
	height:1px;
	line-height:0;
	margin:30px 0px !important;
	page-break-after:always;
	text-align:center;
	width:100%;
	clear:both;
	color:#ebebeb;
	background-color:#ebebeb;
	background-repeat:repeat-x
}
hr.noline {
	border-width:0;
	height:1px;
	line-height:0;
	margin:30px 0px !important;
	page-break-after:always;
	text-align:center;
	width:100%;
	clear:both;
	background-color:transparent !important;
}

input[type=text],[type=password],[type=date], textarea, select
{
	margin:4px 8px 8px 0px; 
	padding:8px; 
	color:#999999; 
	vertical-align:middle; 
	font-size:12px;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
}

select .option{
	margin:4px 8px 8px 0px; 
	padding:8px; 
}

/*** END OF GLOBAL  ***/

/*** DEFAULT ELEMENT STYLES ***/
/* heading */
h1, h2, h3, h4, h5, h6{ font-weight:normal; color:#353535; font-family:Arial, Verdana;}
h1, h2, h3{margin-bottom:10px;margin-top:-20px;}
h4, h5, h6{margin-bottom:10px;}
h1 {font-size:28px; line-height:30px;}
h2 {font-size:26px; line-height:28px;}
h3 {font-size:22px; line-height:24px;}
h4 {font-size:20px; line-height:22px;}
h5 {font-size:18px; line-height:20px;}
h6 { font-size:16px; line-height:18px;}

/* links */
a, a:visited {text-decoration:none; font-weight:normal; }
a:hover{text-decoration:underline;}
a img{border:none}
/* float align */
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 15px;
	margin-top: 3px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 15px;
	margin-top: 5px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignnone,
img.alignnone {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:3px;
}


img.alignleft, 
img.alignright, 
img.aligncenter,
img.alignnone{
	margin-bottom: 10px;
}
/* lists, blockquotes and paragraphs */
p, ul, ol, blockquote {
	margin-bottom:20px;
}
body p:last-child{margin-bottom:0;}
ul {margin:10px 0 20px 0px;}
ol{margin:10px 0 20px 25px;}
	
blockquote {
	font-style:italic;
	margin:0px 0 20px 0px;
	padding:0px 10px 0px 60px;
	background-image:url(../images/quote.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	clear:both;
	font-size:16px;
	font-family:Georgia, Arial
	}
blockquote.alignleft, blockquote.alignright  {
	float:right;
	letter-spacing:0px;
	margin-bottom:20px;
	margin-left:20px;
	margin-top:0px;
	padding:0px 20px 10px 60px;
	width:43%;
	background-position:0px 0px;
	}
blockquote.alignleft{
	float:left;
	margin-left:0px;
	margin-right:20px;}
	

blockquote p{margin-bottom:0px;}

/* code */
code {
	font-family:Verdana, Arial;
	letter-spacing:1px;
	margin:25px 0 25px 0px;
	display:block;
	font-size:0.9em;
	border-left:4px solid #e7e7e7;
	padding:15px 10px;
}
.nomargin{ margin:0px!important;}
/*** END OF DEFAULT ELEMENT STYLES ***/

/*** CONTAINER ***/
#wrapper-top{width:100%; height:80px; position:relative; z-index:100}
#wrapper-header{width:100%; height:356px; border:solid 1px #fff; border-width:1px 0; clear:both }
#wrapper-header-inner{width:100%; height:110px; border:solid 1px #fff; border-width:1px 0; clear:both }
#wrapper-header-shadowline{width:100%; background-image:url(../images/shadow_line.png); background-position:top; background-repeat:repeat-x;}
#wrapper-content{width:100%; background-image:url(../images/shadow_content.gif); background-position:top; background-repeat:repeat-x; padding-bottom:20px}
#wrapper-shadow-line-bottom{width:100%; background-image:url(../images/shadow_content_bottom.gif); background-position:bottom; background-repeat:repeat-x; height:60px }
#wrapper-footer{width:100%; border-top:solid 1px #fff}
#wrapper-footer-shadowline{width:100%; background-image:url(../images/shadow_line.png); background-position:top; background-repeat:repeat-x;}
#top-container{width:80%; margin:0 auto; z-index:20; position:relative}
#header-slider{height:470px;  width:940px; margin:0 auto; padding-top:40px; background-image:url(../images/slider_shadow.png); background-position:bottom; background-repeat:no-repeat; z-index:10;}
#header-slider-default{height:405px;  width:940px; margin:0 auto; z-index:10;}
#content-container-default{width:80%; margin:0 auto; padding:70px 0 0 0}
#content-container{width:80%; margin:0 auto; padding:180px 0 0 0}
#content-container-inner{width:80%; margin:0 auto; padding:50px 0 0 0}
#header-inner{width:80%; margin:0 auto; padding:0 0 0 0}
#footer-container{width:80%; margin:0 auto; color:#fff; padding:50px 0}
#footer-copyright{background-image:url(../images/opacity.png); color:#fff; text-align:center; padding:35px 0}
/*** END OF CONTAINER ***/


/*** TOP ***/
#top-left{float:left}
#top-right{float:right; text-align:right}

/*** NAVIGATION ***/
#top-navigation{float:right;}
#topnav, #topnav ul{
	margin:0;
	padding:0;
	list-style-type:none;
	position:relative;
}
#topnav{padding:20px 0 0 0;}

#topnav a{
	display:block;
	padding:7px 0 10px 0;
	color:#777777;
	text-decoration:none;
}

/* Img del menu */
#topnav li a img{
	text-align:center;
	/* margin:-10px 0 0 0; */
	width:25px;
	vertical-align: middle;
}

/* Img del submenu desplegable */
#topnav li ul img{
	text-align:center;
	margin:-10px 0 0 0;
	width:24px;
	vertical-align: middle;
}

#topnav a:hover, #topnav a.active{color:#353535;}
#topnav a.active{color:#353535; font-weight: bold;}

#topnav li{
	float:left;
	position:relative;
	font-size:14px;
	padding:0 0 21px 0;
	margin-left:35px;
}

#topnav li li{
	padding-right:0px;
	text-transform:capitalize;
	line-height:25px;
	padding:0px 0px;
	background-image:none;
	margin-left:0;
	
}
#topnav li li:last-child{border-bottom:0;}
#topnav ul {
	position:absolute;
	display:none;
	width:230px;
	top:60px;
	left:-15px;
	background-color:#fff;
	padding:0;
	border:solid 1px #edeceb;
	border-width:1px;
	text-align:left;
}

#topnav li ul a{
	width:200px;
	margin:0 0px;
	padding:10px 15px;
	line-height:normal;
	font-size:14px;
	color:#777777
}

#topnav li ul a:hover{color:#777777; background-color:#e6e6e6; }

#topnav ul ul{
	top:-1px;
}	

#topnav li ul ul {
	left:230px;
	margin:0px 0 0 0px;
}

#topnav li:hover ul ul, #topnav li:hover ul ul ul, #topnav li:hover ul ul ul ul{
	display:none;
}
#topnav li:hover ul, #topnav li li:hover ul, #topnav li li li:hover ul, #topnav li li li li:hover ul{
	display:block;
}

/* SLIDER */
/* cycle slider default */
#sliderCon{position:relative; height:405px; width:940px; color:#f3f3f3}
#slider{height:405px; width:940px; position:absolute; list-style-type:none; padding:0; margin:0}
#slider .cycle{height:405px; width:940px; background-color:transparent !important;}
#slider img {float:left; }
.TextSlider{width:520px; padding-top:50px; float:right}
#slider h1, #slider h2, #slider h3, #slider h4, #slider h5, #slider h6{color:#f3f3f3}
#slider h1{font-size:48px;}
#slider h3{font-size:28px;}
#slider ul{list-style-type:none; padding:0; margin:0 0 20px 0; font-size:14px;}
#slider ul li{list-style-type:none; padding:0 0 8px 30px; margin:0; background-image:url(../images/list.png); background-repeat:no-repeat; background-position:0 0}
.navButton{}
.navButton a{
	width:10px;
	height:10px;
	background-image:url(../images/nav_slide2.png);
	background-repeat:no-repeat;
	background-position:0 0px;
	border:0px;
	margin-right:10px;
	cursor:pointer;
	display:inline;
	display:inline-block;
	vertical-align:top;
	font-size: 0;
	line-height: 0;
	text-align:center;
}
.navButton a.activeSlide{
	width:10px;
	height:10px;
	background-image:url(../images/nav_slide2.png);
	background-repeat:no-repeat;
	background-position:0px -10px;
	margin-top:0px;
}



/* cycle slider */
#slider-container{position:relative; height:420px; width:940px;}
#sliderCycle{list-style-type:none; margin:0; padding:0}
#sliderCycle li{width:940px; height:420px;}
.slidertext{background-image:url(../images/trans.png); background-repeat:repeat; width:920px; padding:10px; position:absolute; bottom:0px; color:#fff; font-size:13px;}
#pager{position:absolute; right:15px; bottom:8px; z-index:12}
#pager a{
	width:15px;
	height:15px;
	background-image:url(../images/nav_slide.png);
	background-repeat:no-repeat;
	background-position:0 0px;
	border:0px;
	margin-right:10px;
	cursor:pointer;
	display:inline;
	display:inline-block;
	vertical-align:top;
	font-size: 0;
	line-height: 0;
	text-align:center;
}
#pager a.activeSlide{
	width:15px;
	height:15px;
	background-image:url(../images/nav_slide.png);
	background-repeat:no-repeat;
	background-position:0px -15px;
	margin-top:0px;
}

/* accordion slider  */
#accordion-slider{
	width:940px;
	overflow:hidden;
}
.kwicks{
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
	width:940px;
}
.kwicks li {
	float: left;
	width: 234.5px ;
	height: 420px;
	margin-right: 0px;
	list-style-type:none;
	overflow:hidden;
	padding:0;
	margin:0 !important
}
.kwicks_text{
	color: #fff;
	background-image:url(../images/trans.png); background-repeat:repeat;
	position: absolute;
	bottom: 0px;
	padding: 10px;
	width:780px;
	margin-left: 0px;
	overflow:hidden;
	line-height:20px
}
.kwicks_text a, .kwicks_text a:visited{color:#fff; text-decoration:underline;}
.kwicks_text a:hover{text-decoration:none;}
.kwicks li a img{
	padding:0;
	margin:0;
	border:0;
}
.kwicks h2{color:#fff; margin-bottom:10px}

/* 3d slider */
#slider-container.piecemaker{ margin-top:-20px!important;}

/* END SLIDER */



/*** CONTENT ***/
#content{width:70%; padding:0 30px 0 0; float:left;}
#sidecontent{width:25%; float:left; background-image:url(../images/shadow_right.png); background-position:top left; background-repeat:no-repeat}
#sidebar{padding-left:30px; min-height:654px;}

#content.positionright{padding:0 0 0 30px;}
#sidecontent.positionleft{background-image:url(../images/shadow_left.png); background-position:top right; background-repeat:no-repeat}
#sidecontent.positionleft #sidebar{padding:0 30px 0 0;}

#content.widecolumn{width:730px; padding:0 30px 0 0; float:left;}
#sidecontent.narrowcolumn{width:180px; float:left; background-image:url(../images/shadow_right.png); background-position:top left; background-repeat:no-repeat}

#content.widecolumn.positionright{padding:0 0 0 30px;}
#sidecontent.narrowcolumn.positionleft{background-image:url(../images/shadow_left.png);background-position:top right; background-repeat:no-repeat}


#content-bottom{border:solid 1px #e1e1e1; border-width:1px 0px; padding:20px 0; margin-top:50px;}
#content-bottom span{overflow:hidden;}
small{font-style:italic; font-size:12px;}
.subnavigation a, .subnavigation a:visited{color:#fff;}
.subnavigation a:hover{color:#ebecec; text-decoration: none;}
.backtop{text-align:right; float:right}

/* IMAGE STYLING*/
.imgframe{border:solid 2px #fff; }
.imgframe2{border:solid 1px #dcdcdc; padding:2px}
.shadowimg{background-image:url(../images/shadow_img.png); background-repeat:repeat-x; background-position:bottom; padding-bottom:18px}


/* BUTTON*/
.more, .more:visited, .button, .button:hover, .button:visited{color:#fff; text-decoration:none}
.more:hover, .button:hover{color:#fff; text-decoration:none}
.more, .button{
	color:#ffffff;	
	padding:0px 30px;
	height:30px;
	line-height:26px;
	display:inline-block;
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
	font-size:13px;
  }
.more.small, .button.small{
	padding:0px 20px;
	height:25px;
	line-height:20px;
	font-size:11px;
}
.more.large, .button.large{
	padding:0px 40px;
	height:40px;
	line-height:36px;
	font-size:20px;
}
.button2{
	background:#4a4a4a;
	background: -webkit-gradient(linear, left top, left bottom, from(#727272), to(#4a4a4a));
	background: -moz-linear-gradient(top,  #727272,  #4a4a4a);
	background: -o-linear-gradient(top,  #727272,  #4a4a4a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#727272', endColorstr='#4a4a4a');
	border:0;
	padding:8px 20px;
	color:#fff;
	border-radius:5px;
}

/* PREDIFENED BUTTON*/
/* teal */
.button.teal{
	border:solid 1px #19363d;
	background:#203b42;
	background: -webkit-gradient(linear, left top, left bottom, from(#3a7e8e), to(#203b42));
	background: -moz-linear-gradient(top,  #3a7e8e,  #203b42);
	background: -o-linear-gradient(top,  #3a7e8e,  #203b42);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a7e8e', endColorstr='#203b42');
  }
.button.teal:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#203b42), to(#3a7e8e));
	background: -moz-linear-gradient(top,  #203b42, #3a7e8e );
	background: -o-linear-gradient(top,  #203b42, #3a7e8e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#203b42', endColorstr='#3a7e8e');
}
/* blue */
.button.blue{
	border:solid 1px #15273a;
	background:#0d2e51;
	background: -webkit-gradient(linear, left top, left bottom, from(#124d8d), to(#0d2e51));
	background: -moz-linear-gradient(top,  #124d8d,  #0d2e51);
	background: -o-linear-gradient(top,  #124d8d,  #0d2e51);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#124d8d', endColorstr='#0d2e51');
  }
.button.blue:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#0d2e51), to(#124d8d));
	background: -moz-linear-gradient(top,  #0d2e51, #124d8d );
	background: -o-linear-gradient(top,  #0d2e51, #124d8d);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d2e51', endColorstr='#124d8d');
}
/* brown */
.button.brown{
	border:solid 1px #42210a;
	background:#46230b;
	background: -webkit-gradient(linear, left top, left bottom, from(#89491d), to(#46230b));
	background: -moz-linear-gradient(top,  #89491d,  #46230b);
	background: -o-linear-gradient(top,  #89491d,  #46230b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#89491d', endColorstr='#46230b');
  }
.button.brown:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#46230b), to(#89491d));
	background: -moz-linear-gradient(top,  #46230b, #89491d);
	background: -o-linear-gradient(top,  #46230b, #89491d);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#46230b', endColorstr='#89491d');
}
/* green */
.button.green{
	font-family: Verdana, Arial;
	border:solid 1px#0b3d0e;
	background:#0b3f0e;
	color: white;
	background: -webkit-gradient(linear, left top, left bottom, from(#0f6915), to(#0b3f0e));
	background: -moz-linear-gradient(top,  #0f6915,  #0b3f0e);
	background: -o-linear-gradient(top,  #0f6915,  #0b3f0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f6915', endColorstr='#0b3f0e');
  }
.button.green:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#0b3f0e), to(#0f6915));
	background: -moz-linear-gradient(top,  #0b3f0e, #0f6915);
	background: -o-linear-gradient(top,  #0b3f0e, #0f6915);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b3f0e', endColorstr='#0f6915');
}
/* grey */
.button.grey{
	border:solid 1px #313131;
	background:#343434;
	background: -webkit-gradient(linear, left top, left bottom, from(#6e6e6e), to(#343434));
	background: -moz-linear-gradient(top,  #6e6e6e,  #343434);
	background: -o-linear-gradient(top,  #6e6e6e,  #343434);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6e6e6e', endColorstr='#343434');
  }
.button.grey:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#343434), to(#6e6e6e));
	background: -moz-linear-gradient(top,  #343434, #6e6e6e);
	background: -o-linear-gradient(top,  #343434, #6e6e6e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#343434', endColorstr='#6e6e6e');
}
/* pink*/
.button.pink{
	border:solid 1px #760c48;
	background:#851153;
	background: -webkit-gradient(linear, left top, left bottom, from(#db1384), to(#851153));
	background: -moz-linear-gradient(top,  #db1384,  #851153);
	background: -o-linear-gradient(top,  #db1384,  #851153);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#db1384', endColorstr='#851153');
  }
.button.pink:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#851153), to(#db1384));
	background: -moz-linear-gradient(top,  #851153, #db1384);
	background: -o-linear-gradient(top,  #851153, #db1384);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#851153', endColorstr='#db1384');
}
/* puple*/
.button.purple{
	border:solid 1px #21183e;
	background:#271953;
	background: -webkit-gradient(linear, left top, left bottom, from(#3f1cb4), to(#271953));
	background: -moz-linear-gradient(top,  #3f1cb4,  #271953);
	background: -o-linear-gradient(top,  #3f1cb4,  #271953);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f1cb4', endColorstr='#271953');
  }
.button.purple:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#271953), to(#3f1cb4));
	background: -moz-linear-gradient(top,  #271953, #3f1cb4);
	background: -o-linear-gradient(top,  #271953, #3f1cb4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#271953', endColorstr='#3f1cb4');
}
/* gold*/
.button.gold{
	border:solid 1px #8b5807;
	background:#825609;
	background: -webkit-gradient(linear, left top, left bottom, from(#c57c09), to(#825609));
	background: -moz-linear-gradient(top,  #c57c09,  #825609);
	background: -o-linear-gradient(top,  #c57c09,  #825609);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c57c09', endColorstr='#825609');
  }
.button.gold:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#825609), to(#c57c09));
	background: -moz-linear-gradient(top,  #825609, #c57c09);
	background: -o-linear-gradient(top,  #825609, #c57c09);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#825609', endColorstr='#c57c09');
}
/* red*/
.button.red{
	border:solid 1px #460909;
	background:#580b0b;
	background: -webkit-gradient(linear, left top, left bottom, from(#910c0c), to(#580b0b));
	background: -moz-linear-gradient(top,  #910c0c,  #580b0b);
	background: -o-linear-gradient(top,  #910c0c,  #580b0b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#910c0c', endColorstr='#580b0b');
  }
.button.red:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#580b0b), to(#910c0c));
	background: -moz-linear-gradient(top,  #580b0b, #910c0c);
	background: -o-linear-gradient(top,  #580b0b, #910c0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#580b0b', endColorstr='#910c0c');
}

/* TESTIMONIALS */
.ts-thinkbox-list{list-style-type:none; padding:0; margin:0;}
.ts-thinkbox-list li{clear:both; margin-bottom:40px;}
.ts-thinkbox-thumb{float:left;}
.ts-thinkbox-quote{font-style:italic; background-image:url(../images/quote.png); background-repeat:no-repeat; margin-left:130px; padding:10px 0 0 40px}
.ts-thinkbox-name{color:#999999;}
.ts-thinkbox-2 .ts-thinkbox-quote{margin-left:0;}


/* SIDERIGHT & WIDGET */
#sidebar .widget-title{font-size:28px; line-height:30px; margin-bottom:10px; padding-bottom:5px;}
#sidebar ul{list-style-type:none; padding:0 ; margin:0; list-style-position:outside}
#sidebar ul li{list-style-type:none; padding:0 ; margin:0; font-size:11px;}
#sidebar ul li li{background:url(../images/arrow.png) no-repeat 0 5px; padding:0 0 8px 16px; margin-bottom:8px; border-bottom:solid 1px #ebebeb }
#sidebar ul li a, #sidebar ul li a:visited, .widget-container ul li a{color:#565656; font-size:11px; }
#sidebar ul li a:hover, .widget-container ul li a:hover{color:#9e9d9d; text-decoration:none;}

#sidebar  ul.children{margin-top:5px;}
#sidebar  ul.children li{border:0; padding-bottom:2px; margin-bottom:2px;}

#popularpost{margin-bottom: -10px;}
li#popularpost ul li{border-bottom:0; background:none; padding-left:0; clear:left; list-style-type:none; }
li#popularpost ul li ul li{border-bottom:0; background:none; margin-left: 15px; padding-left:0px; clear:left; list-style-type: disc;}
.widget-container{margin-bottom:40px !important; list-style-type:none}
.widget-title{}

/* FOOTER */
#footer-container a, #footer-container a:visited{color:#fff;}
#footer-container a:hover{text-decoration:underline;}
#footer-container h1, #footer-container h2, #footer-container h3, #footer-container h4, #footer-container h5, #footer-container h6{color:#fff;}
#footer-container ul{list-style-type:none; padding:0; margin:0;}
#footer-container ul li li{list-style-type:none; padding:4px 0; margin:0; clear:both}
#footer-container .widget-title{font-size:20px;}
#footer-container .widget-container{margin-bottom:20px !important;}
#footer-container .widget-container:last-child{margin-bottom:0px !important;}
#footer-container .widget-container.social img{margin-right:10px; float:left}


/* COLUMN */
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth{margin-right: 4%; position:relative; float:left; }
.one_half{ width:48%; }
.one_third{width:30.6666%;}
.one_fourth{width:22%; }
.one_fifth{width: 16.8%;}
.one_sixth {width: 13.3333%;}

.two_third{width: 65.3332%;}
.two_fourth {width: 48%;}
.two_fifth {width: 37.6%;}
.two_sixth {width: 30.6666%;}

.three_fourth{width:74%;}
.three_fifth {width: 58.4%;}
.three_sixth {width: 47.9998%;}

.four_fifth {width: 79.2%;}
.four_sixth {width: 65.3332%;}

.five_sixth {width: 82.6665%;}
.last{ margin-right:0 !important; clear:right; }



/* DROPCAPS */
.dropcap1{
	text-shadow:1px 1px 0 #fff;
	display:block;
	float:left;
	font-size:36px;
	line-height:34px;
	margin:0px 8px 0 0;
	padding:0 5px 0 0;
	color:#565656
}
.dropcap2{
	background: transparent url(../images/dropcaps.png) top left no-repeat;
	color:#fff;
	display:block;
	float:left;
	font-size:25px;
	line-height:40px;
	width:40px;
	height:40px;
	text-align: center;
	margin:4px 8px 0 0;
}
.dropcap3{
	color:#fff;
	display:block;
	float:left;
	font-size:25px;
	line-height:40px;
	width:40px;
	height:40px;
	text-align: center;
	margin:6px 8px 0 0;
	background-color:#989898
}

.dropcapUserMenu{
/*	margin:4px 8px 0 0;*/
	background: transparent url(dotusu.png) top left no-repeat;
	color:#fff;
	display:block;
	float:left;
	font-size:16px;
	width:32px;
	height:28px;
	text-align: center;
	margin:-6px 0 0 0;
	padding: 6px 0 0 0;
	font-weight: normal;
}

.iconUserMenu img{
	width:30px; 
	vertical-align: middle;
	margin:-6px 0 0 0;
	padding: 8px 0 0 0;
}
	
/* HIGHLIGHT */
.highlight1{
	line-height: 40px;
	margin:2px; 
	padding:5px 8px;
	background-color:#e6e8e8;
	color:#000; 
	border:solid 1px #ccc; 
	border-radius: 10px;
	margin-bottom: 10px;
}	

.highlight2{padding:2px 5px;background-color:#666666;color:#fff; border:solid 1px #333}	

/* BULLETED LIST */
.bullet-default{
	margin:0;
	padding:0;
	list-style-type:none;
}	
.bullet-default li{
	background: transparent url(../images/arrow_default.png);
	background-repeat:no-repeat;
	background-position:0 8px;
	margin:0;
	padding:0 0 0 25px;
	list-style-type:none;
	line-height:25px
}
.bullet-star{
	margin:0;
	padding:0;
	list-style-type:none;
}	
.bullet-star li{
	background: transparent url(../images/arrow_star.png);
	background-repeat:no-repeat;
	background-position:0 5px;
	margin:0;
	padding:0 0 0 25px;
	list-style-type:none;
	line-height:25px
}	
.bullet-check{
	margin:0;
	padding:0;
	list-style-type:none;
}	
.bullet-check li{
	background: transparent url(../images/arrow_check.png);
	background-repeat:no-repeat;
	background-position:0 5px;
	margin:0;
	padding:0 0 0 25px;
	list-style-type:none;
	line-height:25px
}	
.bullet-plus{
	margin:0;
	padding:0;
	list-style-type:none;
}	
.bullet-plus li{
	background: transparent url(../images/arrow_plus.png);
	background-repeat:no-repeat;
	background-position:0 8px;
	margin:0;
	padding:0 0 0 25px;
	list-style-type:none;
	line-height:25px
}
.bullet-circle{
	margin:0;
	padding:0;
	list-style-type:none;
}	
.bullet-circle li{
	background: transparent url(../images/arrow_circle.png);
	background-repeat:no-repeat;
	background-position:0 8px;
	margin:0;
	padding:0 0 0 25px;
	list-style-type:none;
	line-height:25px
}

.bullet-x{
	margin:0;
	padding:0;
	list-style-type:none;
}	
.bullet-x li{
	background: transparent url(../images/arrow_x.png);
	background-repeat:no-repeat;
	background-position:0 5px;
	margin:0;
	padding:0 0 0 25px;
	list-style-type:none;
	line-height:25px
}
	

/* STYLED BOX */
.message-box, .note-box, .error-box, .info-box {
	padding: 20px 20px;
	margin: 0 0 25px 0;
	padding-left: 60px;
	background: #eee;
	/* -moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c; */
}
.message-box {
	background: url(../images/iconset/i_info.png) no-repeat scroll 20px 18px;
	/* border: 1px solid #a3ac46; */
	color: #7b9244;
	padding-left:60px
}

.note-box {
	background: url(../images/iconset/i_note.png) no-repeat scroll 20px 15px;
	/* border: 1px solid #ffd750; */
	color: #b28c0b;
	padding-left:60px
}
.error-box {
	background: url(../images/iconset/i_error.png) no-repeat scroll 20px 15px;
	/* border: 1px solid #ff8a8a; */
	color: #fb1414;
	padding-left:80px;
}

.info-box {
	background: url(../images/iconset/i_info.png) no-repeat scroll 20px 18px;
	/* border: 1px solid #a3ac46; */
	color: #7b9244;
	padding-left:60px;
}


/* PULLQUOTES */
.pullquote-right,.pullquote-left{
	padding:10px 20px;
	background-color:#f5f5f5;
	float:right;
	font-style:italic;
	font-size:16px;
	letter-spacing:0px;
	line-height:25px;
	margin:10px 2px 20px 20px;
	width:33%;
	font-family:Georgia, Arial
	}
.pullquote-left{float:left;margin-left:2px;margin-right:20px;}



/* TABBLES */
/*
table {border-collapse:separate;border-spacing:0;width:100%;border-top:1px solid #ececec;margin-bottom:18px;font-size: 12px;}
table,td,th { text-align:left; border:1px solid #e5e5e5;font-size:14px;color:#565656;}
th, th a{padding:5px;color:#888;text-transform:uppercase;text-align:center;font-weight:bold;}
td{padding:5px;color:#888;}
*/
table {border-collapse:separate;border-spacing:0;width:100%;border-top:1px solid #ececec;margin-bottom:18px;}
table,td,th { text-align:left;}
th{padding:5px;color:#666;text-transform:uppercase;text-align:left;font-weight:bold;}
td{padding:5px;color:#888;}
tfoot td{border:0px;}
th{background-color:#ececec;}
table {
	border: 1px solid #e7e7e7;
	text-align: left;
	margin: 0 -1px 24px 0;
	width: 100%;
}
tr th,
thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
tr.odd td {
	background: #F2F7FC;
}

/* TABLE LIST */
.table-box-container{ width:940px;}
.table-box-container ul{ margin:0px; border-bottom:1px dotted #e5e5e5; float:left; }
.table-box-container ul li{ float:left; list-style-type:none; padding:12px 0px; line-height:normal; color:#707070 !important; }
.table-box-container ul li h4{ margin:0px; font-size:14px;}
.table-box-container ul li.one{ width:455px; padding-left:20px; }
.table-box-container ul li.two{ width:150px; text-align:center; border-left:1px dotted #e5e5e5; }
.table-box-container ul li.three{ width:150px; text-align:center; border-left:1px dotted #e5e5e5; }
.table-box-container ul li.four{ width:150px; text-align:center; border-left:1px dotted #e5e5e5; }
ul.table_header li{ }

ul.tbl-odd{ background-color:#fbfbfb; float:left;}
ul.tbl-odd li.one{ width:465px; padding-left:10px; }
ul.tbl-even{ background-color:#f7f7f7}
ul.tbl-even li.one{ width:465px; padding-left:10px; }
ul.tbl-price{ border:0px; font-size:18px;}
ul.tbl-price a, ul.tbl-price a:visited{ color:#707070; text-decoration:underline; font-size:12px;}
ul.tbl-price a:hover{ text-decoration:none;}


.icontable{width:25px; margin-right:10px;}
.icontable img{vertical-align:middle;}


/* PRICING BOX */
/* color teal */
ul.list-box-colorteal{margin:0; padding:0; list-style-type:none; list-style-position:outside;}
ul.list-box-colorteal li{ margin-top:15px;}
ul.list-box-colorteal > li{
	background-color:#e0e0e0;
	border:solid 1px #fff;
	border-width:0 1px 0 0;
	float:left;
	width:233px;
	text-align:center;
	padding:0;
	margin:0;
	position:relative;
	z-index:2
 }
 ul.list-box-colorteal li.noborder{border:0;}
ul.list-box-colorteal li.current{border:0; z-index:4}
ul.list-box-colorteal .title-box{margin-bottom:0; padding-bottom:5px; font-size:16px; color:#fff; background-color:#163840;}
ul.list-box-colorteal li.current .title-box{background-color:#102c32;}
ul.list-box-colorteal li.last{margin-right:0;}
ul.list-box-colorteal .currency{font-size:25px; margin-top:8px; padding-right:10px; display:inline-block; vertical-align:top;}
ul.list-box-colorteal .price-text{
margin:0; color:#fff; padding:13px 0; vertical-align:top;
	background:#193b43;
	background: -webkit-gradient(linear, left top, left bottom, from(#255661), to(#193b43));
	background: -moz-linear-gradient(top,  #255661,  #193b43);
	background: -o-linear-gradient(top,  #255661,  #193b43);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#255661', endColorstr='#193b43');
}
ul.list-box-colorteal li.current .price-text{
	padding:18px 0 13px 0;
	background-color:#16343b;
	background: -webkit-gradient(linear, left top, left bottom, from(#16343b), to(#16343b));
	background: -moz-linear-gradient(top,  #16343b,  #16343b);
	background: -o-linear-gradient(top,  #16343b,  #16343b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#16343b', endColorstr='#16343b');
}
ul.list-box-colorteal .price{font-size:50px; font-weight:bold;  color:#fff; line-height:25px;}
ul.list-box-colorteal .price span{ font-size:18px; font-weight:normal;}
ul.list-box-colorteal li.current{
	margin-top:-5px;
	-moz-box-shadow: 0px 0px 18px #000;
	-webkit-box-shadow: 0px 0px 18px #000;
	box-shadow: 0px 0px 18px #000;
}
/* color blue */
ul.list-box-colorblue{margin:0; padding:0; list-style-type:none; list-style-position:outside;}
ul.list-box-colorblue li{ margin-top:15px;}
ul.list-box-colorblue > li{
	background-color:#e0e0e0;
	border:solid 1px #fff;
	border-width:0 1px 0 0;
	float:left;
	width:233px;
	text-align:center;
	padding:0;
	margin:0;
	position:relative;
	z-index:2
 }
 ul.list-box-colorblue li.noborder{border:0;}
ul.list-box-colorblue li.current{border:0; z-index:4}
ul.list-box-colorblue .title-box{margin-bottom:0; padding-bottom:5px; font-size:16px; color:#fff; background-color:#0f345b;}
ul.list-box-colorblue li.current .title-box{background-color:#0a2441;}
ul.list-box-colorblue li.last{margin-right:0;}
ul.list-box-colorblue .currency{font-size:25px; margin-top:8px; padding-right:10px; display:inline-block; vertical-align:top;}
ul.list-box-colorblue .price-text{
margin:0; color:#fff; padding:13px 0; vertical-align:top;
	background:#113a66;
	background: -webkit-gradient(linear, left top, left bottom, from(#15477e), to(#113a66));
	background: -moz-linear-gradient(top,  #15477e,  #113a66);
	background: -o-linear-gradient(top,  #15477e,  #113a66);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#15477e', endColorstr='#113a66');
}
ul.list-box-colorblue li.current .price-text{
	padding:18px 0 13px 0;
	background-color:#0d2c4e;
	background: -webkit-gradient(linear, left top, left bottom, from(#0d2c4e), to(#0d2c4e));
	background: -moz-linear-gradient(top,  #0d2c4e,  #0d2c4e);
	background: -o-linear-gradient(top,  #0d2c4e,  #0d2c4e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d2c4e', endColorstr='#0d2c4e');
}
ul.list-box-colorblue .price{font-size:50px; font-weight:bold;  color:#fff; line-height:25px;}
ul.list-box-colorblue .price span{ font-size:18px; font-weight:normal;}
ul.list-box-colorblue li.current{
	margin-top:-5px;
	-moz-box-shadow: 0px 0px 18px #000;
	-webkit-box-shadow: 0px 0px 18px #000;
	box-shadow: 0px 0px 18px #000;
}

/* color brown */
ul.list-box-colorbrown{margin:0; padding:0; list-style-type:none; list-style-position:outside;}
ul.list-box-colorbrown li{ margin-top:15px;}
ul.list-box-colorbrown > li{
	background-color:#e0e0e0;
	border:solid 1px #fff;
	border-width:0 1px 0 0;
	float:left;
	width:233px;
	text-align:center;
	padding:0;
	margin:0;
	position:relative;
	z-index:2
 }
 ul.list-box-colorbrown li.noborder{border:0;}
ul.list-box-colorbrown li.current{border:0; z-index:4}
ul.list-box-colorbrown .title-box{margin-bottom:0; padding-bottom:5px; font-size:16px; color:#fff; background-color:#562b0d;}
ul.list-box-colorbrown li.current .title-box{background-color:#3b1d09;}
ul.list-box-colorbrown li.last{margin-right:0;}
ul.list-box-colorbrown .currency{font-size:25px; margin-top:8px; padding-right:10px; display:inline-block; vertical-align:top;}
ul.list-box-colorbrown .price-text{
margin:0; color:#fff; padding:13px 0; vertical-align:top;
	background:#562b0d;
	background: -webkit-gradient(linear, left top, left bottom, from(#733a12), to(#562b0d));
	background: -moz-linear-gradient(top,  #733a12,  #562b0d);
	background: -o-linear-gradient(top,  #733a12,  #562b0d);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#733a12', endColorstr='#562b0d');
}
ul.list-box-colorbrown li.current .price-text{
	padding:18px 0 13px 0;
	background-color:#42210a;
	background: -webkit-gradient(linear, left top, left bottom, from(#42210a), to(#42210a));
	background: -moz-linear-gradient(top,  #42210a,  #42210a);
	background: -o-linear-gradient(top,  #42210a,  #42210a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#42210a', endColorstr='#42210a');
}
ul.list-box-colorbrown .price{font-size:50px; font-weight:bold;  color:#fff; line-height:25px;}
ul.list-box-colorbrown .price span{ font-size:18px; font-weight:normal;}
ul.list-box-colorbrown li.current{
	margin-top:-5px;
	-moz-box-shadow: 0px 0px 18px #000;
	-webkit-box-shadow: 0px 0px 18px #000;
	box-shadow: 0px 0px 18px #000;
}
/* color green */
ul.list-box-colorgreen{margin:0; padding:0; list-style-type:none; list-style-position:outside;}
ul.list-box-colorgreen li{ margin-top:15px;}
ul.list-box-colorgreen > li{
	background-color:#e0e0e0;
	border:solid 1px #fff;
	border-width:0 1px 0 0;
	float:left;
	width:233px;
	text-align:center;
	padding:0;
	margin:0;
	position:relative;
	z-index:2
 }
 ul.list-box-colorgreen li.noborder{border:0;}
ul.list-box-colorgreen li.current{border:0; z-index:4}
ul.list-box-colorgreen .title-box{margin-bottom:0; padding-bottom:5px; font-size:16px; color:#fff; background-color:#0f4e13;}
ul.list-box-colorgreen li.current .title-box{background-color:#09350c;}
ul.list-box-colorgreen li.last{margin-right:0;}
ul.list-box-colorgreen .currency{font-size:25px; margin-top:8px; padding-right:10px; display:inline-block; vertical-align:top;}
ul.list-box-colorgreen .price-text{
margin:0; color:#fff; padding:13px 0; vertical-align:top;
	background:#0f5113;
	background: -webkit-gradient(linear, left top, left bottom, from(#146a19), to(#0f5113));
	background: -moz-linear-gradient(top,  #146a19,  #0f5113);
	background: -o-linear-gradient(top,  #146a19,  #0f5113);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#146a19', endColorstr='#0f5113');
}
ul.list-box-colorgreen li.current .price-text{
	padding:18px 0 13px 0;
	background-color:#0b3d0e;
	background: -webkit-gradient(linear, left top, left bottom, from(#0b3d0e), to(#0b3d0e));
	background: -moz-linear-gradient(top,  #0b3d0e,  #0b3d0e);
	background: -o-linear-gradient(top,  #0b3d0e,  #0b3d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b3d0e', endColorstr='#0b3d0e');
}
ul.list-box-colorgreen .price{font-size:50px; font-weight:bold;  color:#fff; line-height:25px;}
ul.list-box-colorgreen .price span{ font-size:18px; font-weight:normal;}
ul.list-box-colorgreen li.current{
	margin-top:-5px;
	-moz-box-shadow: 0px 0px 18px #000;
	-webkit-box-shadow: 0px 0px 18px #000;
	box-shadow: 0px 0px 18px #000;
}
/* color grey */
ul.list-box-colorgrey{margin:0; padding:0; list-style-type:none; list-style-position:outside;}
ul.list-box-colorgrey li{ margin-top:15px;}
ul.list-box-colorgrey > li{
	background-color:#e0e0e0;
	border:solid 1px #fff;
	border-width:0 1px 0 0;
	float:left;
	width:233px;
	text-align:center;
	padding:0;
	margin:0;
	position:relative;
	z-index:2
 }
 ul.list-box-colorgrey li.noborder{border:0;}
ul.list-box-colorgrey li.current{border:0; z-index:4}
ul.list-box-colorgrey .title-box{margin-bottom:0; padding-bottom:5px; font-size:16px; color:#fff; background-color:#424242;}
ul.list-box-colorgrey li.current .title-box{background-color:#282828;}
ul.list-box-colorgrey li.last{margin-right:0;}
ul.list-box-colorgrey .currency{font-size:25px; margin-top:8px; padding-right:10px; display:inline-block; vertical-align:top;}
ul.list-box-colorgrey .price-text{
margin:0; color:#fff; padding:13px 0; vertical-align:top;
	background:#404040;
	background: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#404040));
	background: -moz-linear-gradient(top,  #585858,  #404040);
	background: -o-linear-gradient(top,  #585858,  #404040);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#585858', endColorstr='#404040');
}
ul.list-box-colorgrey li.current .price-text{
	padding:18px 0 13px 0;
	background-color:#313131;
	background: -webkit-gradient(linear, left top, left bottom, from(#313131), to(#313131));
	background: -moz-linear-gradient(top,  #313131,  #313131);
	background: -o-linear-gradient(top,  #313131,  #313131);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#313131', endColorstr='#313131');
}
ul.list-box-colorgrey .price{font-size:50px; font-weight:bold;  color:#fff; line-height:25px;}
ul.list-box-colorgrey .price span{ font-size:18px; font-weight:normal;}
ul.list-box-colorgrey li.current{
	margin-top:-5px;
	-moz-box-shadow: 0px 0px 18px #000;
	-webkit-box-shadow: 0px 0px 18px #000;
	box-shadow: 0px 0px 18px #000;
}
/* color pink */
ul.list-box-colorpink{margin:0; padding:0; list-style-type:none; list-style-position:outside;}
ul.list-box-colorpink li{ margin-top:15px;}
ul.list-box-colorpink > li{
	background-color:#e0e0e0;
	border:solid 1px #fff;
	border-width:0 1px 0 0;
	float:left;
	width:233px;
	text-align:center;
	padding:0;
	margin:0;
	position:relative;
	z-index:2
 }
 ul.list-box-colorpink li.noborder{border:0;}
ul.list-box-colorpink li.current{border:0; z-index:4}
ul.list-box-colorpink .title-box{margin-bottom:0; padding-bottom:5px; font-size:16px; color:#fff; background-color:#75174d;}
ul.list-box-colorpink li.current .title-box{background-color:#5a113a;}
ul.list-box-colorpink li.last{margin-right:0;}
ul.list-box-colorpink .currency{font-size:25px; margin-top:8px; padding-right:10px; display:inline-block; vertical-align:top;}
ul.list-box-colorpink .price-text{
margin:0; color:#fff; padding:13px 0; vertical-align:top;
	background:#881a59;
	background: -webkit-gradient(linear, left top, left bottom, from(#a3206b), to(#881a59));
	background: -moz-linear-gradient(top,  #a3206b,  #881a59);
	background: -o-linear-gradient(top,  #a3206b,  #881a59);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3206b', endColorstr='#881a59');
}
ul.list-box-colorpink li.current .price-text{
	padding:18px 0 13px 0;
	background-color:#671443;
	background: -webkit-gradient(linear, left top, left bottom, from(#671443), to(#671443));
	background: -moz-linear-gradient(top,  #671443,  #671443);
	background: -o-linear-gradient(top,  #671443,  #671443);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#671443', endColorstr='#671443');
}
ul.list-box-colorpink .price{font-size:50px; font-weight:bold;  color:#fff; line-height:25px;}
ul.list-box-colorpink .price span{ font-size:18px; font-weight:normal;}
ul.list-box-colorpink li.current{
	margin-top:-5px;
	-moz-box-shadow: 0px 0px 18px #000;
	-webkit-box-shadow: 0px 0px 18px #000;
	box-shadow: 0px 0px 18px #000;
}
/* color purple */
ul.list-box-colorpurple{margin:0; padding:0; list-style-type:none; list-style-position:outside;}
ul.list-box-colorpurple li{ margin-top:15px;}
ul.list-box-colorpurple > li{
	background-color:#e0e0e0;
	border:solid 1px #fff;
	border-width:0 1px 0 0;
	float:left;
	width:233px;
	text-align:center;
	padding:0;
	margin:0;
	position:relative;
	z-index:2
 }
 ul.list-box-colorpurple li.noborder{border:0;}
ul.list-box-colorpurple li.current{border:0; z-index:4}
ul.list-box-colorpurple .title-box{margin-bottom:0; padding-bottom:5px; font-size:16px; color:#fff; background-color:#2d2154;}
ul.list-box-colorpurple li.current .title-box{background-color:#1b1433;}
ul.list-box-colorpurple li.last{margin-right:0;}
ul.list-box-colorpurple .currency{font-size:25px; margin-top:8px; padding-right:10px; display:inline-block; vertical-align:top;}
ul.list-box-colorpurple .price-text{
	margin:0; color:#fff; padding:13px 0; vertical-align:top;
	background:#2c2053;
	background: -webkit-gradient(linear, left top, left bottom, from(#3c2c71), to(#2c2053));
	background: -moz-linear-gradient(top,  #3c2c71,  #2c2053);
	background: -o-linear-gradient(top,  #3c2c71,  #2c2053);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c2c71', endColorstr='#2c2053');
}
ul.list-box-colorpurple li.current .price-text{
	padding:18px 0 13px 0;
	background-color:#21183e;
	background: -webkit-gradient(linear, left top, left bottom, from(#21183e), to(#21183e));
	background: -moz-linear-gradient(top,  #21183e,  #21183e);
	background: -o-linear-gradient(top,  #21183e,  #21183e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#21183e', endColorstr='#21183e');
}
ul.list-box-colorpurple .price{font-size:50px; font-weight:bold;  color:#fff; line-height:25px;}
ul.list-box-colorpurple .price span{ font-size:18px; font-weight:normal;}
ul.list-box-colorpurple li.current{
	margin-top:-5px;
	-moz-box-shadow: 0px 0px 18px #000;
	-webkit-box-shadow: 0px 0px 18px #000;
	box-shadow: 0px 0px 18px #000;
}
/* color gold */
ul.list-box-colorgold{margin:0; padding:0; list-style-type:none; list-style-position:outside;}
ul.list-box-colorgold li{ margin-top:15px;}
ul.list-box-colorgold > li{
	background-color:#e0e0e0;
	border:solid 1px #fff;
	border-width:0 1px 0 0;
	float:left;
	width:233px;
	text-align:center;
	padding:0;
	margin:0;
	position:relative;
	z-index:2
 }
 ul.list-box-colorgold li.noborder{border:0;}
ul.list-box-colorgold li.current{border:0; z-index:4}
ul.list-box-colorgold .title-box{margin-bottom:0; padding-bottom:5px; font-size:16px; color:#fff; background-color:#85590a;}
ul.list-box-colorgold li.current .title-box{background-color:#724c08;}
ul.list-box-colorgold li.last{margin-right:0;}
ul.list-box-colorgold .currency{font-size:25px; margin-top:8px; padding-right:10px; display:inline-block; vertical-align:top;}
ul.list-box-colorgold .price-text{
	margin:0; color:#fff; padding:13px 0; vertical-align:top;
	background:#a9710c;
	background: -webkit-gradient(linear, left top, left bottom, from(#bc7e0e), to(#a9710c));
	background: -moz-linear-gradient(top,  #bc7e0e,  #a9710c);
	background: -o-linear-gradient(top,  #bc7e0e,  #a9710c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc7e0e', endColorstr='#a9710c');
}
ul.list-box-colorgold li.current .price-text{
	padding:18px 0 13px 0;
	background-color:#7f5509;
	background: -webkit-gradient(linear, left top, left bottom, from(#7f5509), to(#7f5509));
	background: -moz-linear-gradient(top,  #7f5509,  #7f5509);
	background: -o-linear-gradient(top,  #7f5509,  #7f5509);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f5509', endColorstr='#7f5509');
}
ul.list-box-colorgold .price{font-size:50px; font-weight:bold;  color:#fff; line-height:25px;}
ul.list-box-colorgold .price span{ font-size:18px; font-weight:normal;}
ul.list-box-colorgold li.current{
	margin-top:-5px;
	-moz-box-shadow: 0px 0px 18px #000;
	-webkit-box-shadow: 0px 0px 18px #000;
	box-shadow: 0px 0px 18px #000;
}
/* color red */
ul.list-box-colorred{margin:0; padding:0; list-style-type:none; list-style-position:outside;}
ul.list-box-colorred li{ margin-top:15px;}
ul.list-box-colorred > li{
	background-color:#e0e0e0;
	border:solid 1px #fff;
	border-width:0 1px 0 0;
	float:left;
	width:233px;
	text-align:center;
	padding:0;
	margin:0;
	position:relative;
	z-index:2
 }
 ul.list-box-colorred li.noborder{border:0;}
ul.list-box-colorred li.current{border:0; z-index:4}
ul.list-box-colorred .title-box{margin-bottom:0; padding-bottom:5px; font-size:16px; color:#fff; background-color:#540b0b;}
ul.list-box-colorred li.current .title-box{background-color:#390707;}
ul.list-box-colorred li.last{margin-right:0;}
ul.list-box-colorred .currency{font-size:25px; margin-top:8px; padding-right:10px; display:inline-block; vertical-align:top;}
ul.list-box-colorred .price-text{
	margin:0; color:#fff; padding:13px 0; vertical-align:top;
	background:#5d0c0c;
	background: -webkit-gradient(linear, left top, left bottom, from(#740f0f), to(#5d0c0c));
	background: -moz-linear-gradient(top,  #740f0f,  #5d0c0c);
	background: -o-linear-gradient(top,  #740f0f,  #5d0c0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#740f0f', endColorstr='#5d0c0c');
}
ul.list-box-colorred li.current .price-text{
	padding:18px 0 13px 0;
	background-color:#460909;
	background: -webkit-gradient(linear, left top, left bottom, from(#460909), to(#460909));
	background: -moz-linear-gradient(top,  #460909,  #460909);
	background: -o-linear-gradient(top,  #460909,  #460909);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#460909', endColorstr='#460909');
}
ul.list-box-colorred .price{font-size:50px; font-weight:bold;  color:#fff; line-height:25px;}
ul.list-box-colorred .price span{ font-size:18px; font-weight:normal;}
ul.list-box-colorred li.current{
	margin-top:-5px;
	-moz-box-shadow: 0px 0px 18px #000;
	-webkit-box-shadow: 0px 0px 18px #000;
	box-shadow: 0px 0px 18px #000;
}

.list-box-container{
	padding:0 0 29px 0;
	margin-top:0;
}
.list-box-container a.more{ margin-left:0px;}
.list-box-content{ margin:0px 0px; }
.list-box-container .more{ margin-left:25px;}
.list-box-content ul{margin:0px auto;  padding:0; list-style-type:none;}
.list-box-content ul li{margin:0; padding:8px 10px 8px 50px; list-style-type:none; text-align:left; background-image:url(../images/arrow.png); background-repeat:no-repeat; background-position:30px 12px; border-bottom:1px solid #f8f8f8;}
.list-box-content ul li:first-child{ border-top:1px solid #f8f8f8;}


/* TAB */
.tabcontainer{margin:20px 0px 0px 0px; color:#828282}

ul.tabs {
	margin: 0 22px 25px 22px;
	padding: 0 0 0 0;
	list-style: none;
	height: 25px;
	width: 100%;

}
ul.tabs li {
	float: left;
	margin: 0 10px 0 0;
	padding: 0;
	line-height: 25px;
	overflow: hidden;
	position: relative;
	font-size:11px;
	text-transform:capitalize;
	
	
}
ul.tabs li:hover{color:#fff; margin:0 8px 0 0}
ul.tabs li a {
	text-decoration: none;
	color: #565656;
	display: block;
	padding: 0 25px;
	outline: none;
}
ul.tabs li a:hover {color:#fff;}
ul.tabs	 li.active{margin:0 8px 0 0}
html ul.tabs li.active, html ul.tabs li.active a:hover  {color:#fff;}
html ul.tabs li.active a:hover  {border:0 !important}
html ul.tabs li.active a{ color:#fff;}
#tab-body{
	background-image:url(../images/gradient_tab.gif);
	background-repeat:repeat-x;
}
.tab-content {padding: 30px 25px}


/* TOGGLE */
h2.trigger {
	padding: 9px 10px;
	margin: 0 0 5px 0 ;
	height: 13px;
	line-height: 13px;
	width:auto;
	color:#fff;
	font-size:11px;
	font-weight: normal;
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
}
h2.trigger span {
	text-decoration: none;
	display: block;
	color:#fff;
	background: url(../images/h2_trigger_a.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	padding-left:25px;
	cursor:pointer;
}
h2.active{}
h2.active span{background-position:0px -13px !important; color:#fff;}
h2.trigger span:hover {
	color: #fff;
}
h2.active span:hover{color:#fff;}
.toggle_container {
	margin: 0 0 5px;
	padding: 0;
	overflow: hidden;
	width: 100%;
	clear: both;
	background: url(../images/gradient_toggle.gif);
	background-repeat:repeat-x;
}
.toggle_container .block {
	padding: 10px;
}
.toggle_container .block p {
	padding: 5px 0;
	margin: 5px 0;
}


