<div id="wrapper-shadow-line-bottom"></div><!-- end wrapper-shadow-line-bottom -->
<div id="wrapper-footer">
        <div id="wrapper-footer-shadowline">
            <div id="footer-container">
                    <div class="one_fourth">
                        <ul>
                            <li class="widget-container">
                                <h1 class="sitename">CEDAIT</h1>
                                <span>Centro de Desarrollo Agrobiotecnológico </br>de Innovación e Integración Territorial, que</br> aporta a la transformación de la estructura </br>productiva de Antioquia.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="one_fourth">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title">Últimas Publicaciones</h2>
                                <ul>
                                    <li>
                                    <img src="/static/images/content/pp1.jpg" alt="" class="alignleft imgframe" />
                                    Boletín No 4 | Abril - 2020<br />
                                    <p><a href="#">Caracterización funcional de la cadena de cacao.</a></p>
                                    </li>
                                    <li>
                                    <img src="/static/images/content/pp2.jpg" alt="" class="alignleft imgframe" />
                                    Boletín No 2 | Abril - 2020<br />
                                    <p><a href="#">Retos y oportunidades del sector floricultor.</a></p>
                                    </li>
                                    <li>
                                    <img src="/static/images/content/pp3.jpg" alt="" class="alignleft imgframe" />
                                    Boletín No 1 / Marzo - 2020<br />
                                    <p><a href="#">Caracterización funcional de la cadena cárnica bovina de Antioquia.</a></p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="one_fourth">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title">Páginas Recomendadas</h2>
                                <ul>
                                    <li><a href="#">Documentation &amp; Application</a></li>
                                    <li><a href="#">Wordpress Theme &amp; jQuery</a></li>
                                    <li><a href="#">Site Templates &amp; Photography</a></li>
                                    <li><a href="#">Support Forum</a></li>
                                    <li><a href="#">Custom Widget &amp; Suggest Ideas</a></li>
                                    <li><a href="#">Advanced Shortcuts</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="one_fourth last">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title">Contacto</h2>
                                <ul>
                                    <li><img src="/static/images/iconset/f_phone.png" alt="" class="alignleft" />(+57) 4 2198998</li>
                                    <li><img src="/static/images/iconset/f_mail.png" alt="" class="alignleft" /><a href="mailto:comunicacionescedait@udea.edu.co">comunicacionescedait@udea.edu.co</a></li>
                                    <li><img src="/static/images/iconset/f_home.png" alt="" class="alignleft" />Calle 70 # 52-72. Medellín, Antioquia</li>
                                </ul>
                            </li>
                            <li class="widget-container social">
                                <h2 class="widget-title">&nbsp;</h2>
                                <ul>
                                    <li>
                                    <a href="#"><img src="/static/images/iconset/s_facebook.png" alt="Facebook"/></a>
                                    <a href="#"><img src="/static/images/iconset/s_instagram.png" alt="Instagram"/></a>
                                    <a href="#"><img src="/static/images/iconset/s_twitter.png" alt="Twitter"/></a>
                                    <a href="#"><img src="/static/images/iconset/s_linkedin.png" alt="LinkedIn"/></a>
                                    <a href="#"><img src="/static/images/iconset/s_youtube.png" alt="YouTube"/></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div><!-- end clear -->
            </div><!-- end footer-container -->
            <div id="footer-copyright">
                    CEDAIT | Medellín-Colombia | Derechos reservados &copy; 2020
            </div><!-- end footer-copyright -->
        </div> <!-- end wrapper-footer -shadowline-->
    </div> <!-- end wrapper-footer -->
    <script type="text/javascript"> Cufon.now(); </script> <!-- to fix cufon problems in IE browser -->
</body>
</html>