<div id="wrapper-top">
    <div id="top-container">
        <div id="top-left">
            <a href="/home"><img src="/static/images/logo.png" width="150px" height="80px" alt="" /></a>
        </div><!-- end top-left -->
        <div id="top-right">
            <div id="top-navigation">
                <ul id="topnav">
                    <li><a href="/home" class="{% if session['sedica_currentMenu']=='Inicio' %} active {% endif %}">
                        <img src="/static/images/iconset/m_home.png">&nbsp;Inicio</a>
                    </li>
                    <li><a href="/publicaciones/index" class="{% if session['sedica_currentMenu']=='Publicaciones' %} active {% endif %}">
                        <img src="/static/images/iconset/m_posts.png">&nbsp;Publicaciones</a>
                    </li>
                    {% if session['sedica_user'] %}
                    <li><a href="#" class="{% if session['sedica_currentMenu']=='Administración' %} active {% endif %}">
                        <img src="/static/images/iconset/m_settings.png">&nbsp;Administración</a>
                        <ul>
                            <li><a href="/administrarPublicaciones/listar"><img src="/static/images/iconset/m_bubble.png">&nbsp;Publicaciones</a></li>
                            <li><a href="/administrarTiposPublicaciones/listar"><img src="/static/images/iconset/m_share.png">&nbsp;Tipos de Publicaciones</a></li>
                            <li><a href="/administrarCadenas/listar"><img src="/static/images/iconset/m_chain.png">&nbsp;Cadenas</a></li>
                            <li><a href="/administrarUsuarios/listar"><img src="/static/images/iconset/m_group.png">&nbsp;Usuarios</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="{% if session['sedica_currentMenu']=='Mi Cuenta' %} active {% endif %}">
                        <span class="dropcapUserMenu">AM</span>&nbsp;Mi Cuenta</a>
                        <ul>
                            <li><span class="pullquote-right" style="width:190px; margin:0 0 0 0;">{{session['sedica_user']['nombre']}}</span></li>
                            <li><a href="/administrarUsuarios/actualizarPerfil/{{session['sedica_user']['identificacion']}}"><img src="/static/images/iconset/m_user.png">&nbsp;Actualizar Perfil</a></li>
                            <li><a href="/auth/logout"><img src="/static/images/iconset/m_lock.png">&nbsp;Cerrar Sesión</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="/login" class="{% if session['sedica_currentMenu']=='Iniciar Sesión' %} active {% endif %}">
                        <img src="/static/images/iconset/m_login.png">&nbsp;Iniciar Sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </div><!-- end top-navigation -->
        </div><!-- end top-right -->
    </div><!-- end top-container -->
</div> <!-- end wrapper-top -->
