            <!-- CONTENIDO LATERAL -->
            <div id="sidecontent">
                <div id="sidebar">
                    <ul>
                        <li class="widget-container">
                            </br>
                            <h2 class="widget-title">Opciones</h2>
                            <ul>
                                <li><a href="/administrarPublicaciones/listar">Publicaciones</a></li>
                                <li><a href="/administrarTiposPublicaciones/listar">Tipos de Publicaciones</a></li>
                                <li><a href="/administrarCadenas/listar">Cadenas</a></li>
                                <li><a href="/administrarUsuarios/listar">Usuarios</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>				
            </div><!-- end sidecontent -->
            <div class="clear"></div><!-- end clear -->
            </div><!-- end content-container-inner -->

            </div> <!-- end wrapper-content -->
            <!-- FIN CONTENIDO LATERAL -->
